<nav id="command-mode-toolbar" class="ol-panel hide" oncontextmenu="return false;">
    <span id="command-mode"></span>
    <div id="spawn-points-container">Spawn points<span id="spawn-points"></span></div>
    <span id="command-mode-phase"></span>
    <button id="command-mode-settings-button" class="ol-button" data-on-click="showCommandModeDialog"><img src="/resources/theme/images/icons/gears-solid.svg" inject-svg>Settings</button>
</nav>