<nav id="primary-toolbar" class="ol-panel" oncontextmenu="return false;">
    <div id="app-icon" class="ol-select ol-select-image">
        <div class="ol-select-value icon">
            <img src="images/icon.png" class="main-logo" />
        </div>
        <div class="ol-select-options">
            <div id="toolbar-summary">
                <h3>DCS Olympus</h3>
                <div class="accent-green app-version-number">version v0.4.8-alpha</div>
            </div>
            <div>
                <a href="https://discord.gg/wWXyVVBZT7" target="_blank">Discord</a>
            </div>
            <div>
                <a href="https://github.com/Pax1601/DCSOlympus" target="_blank">Github</a>
            </div>
            <div>
                <a href="https://github.com/Pax1601/DCSOlympus/wiki/User-Guide" target="_blank">User guide</a>
            </div>
            <div data-on-click="exportToFile">
                <button>Export to file</button>
            </div>
            <div data-on-click="importFromFile">
                <button>Import from file</button>
            </div>
            <div data-on-click="reloadPage">
                <a href="" target="_blank" data-on-click="reloadPage">Restart Olympus</a>
            </div>
        </div>
    </div>

    <div class="ol-group">
        <div id="map-type" class="ol-select">
            <div class="ol-select-value"><img src="resources/theme/images/icons/map-source.svg" inject-svg><span class="ol-select-value-text">ArcGIS Satellite</span></div>
            <div class="ol-select-options">
                <!-- Here the available map sources will be listed-->
            </div>
        </div>

        <div id="map-visibility-options" class="ol-select">
            <div class="ol-select-value"><img src="/resources/theme/images/icons/gears-solid.svg" inject-svg>Options</div>
            <div class="ol-select-options">
                <!-- This is where the advanced visibility options will be listed -->
            </div>
        </div>
    </div>
</nav>
<nav class="ol-panel" oncontextmenu="return false;">
    <img src="resources/theme/images/icons/eye-solid.svg" inject-svg>
    <div id="unit-visibility-control" class="ol-group ol-navbar-buttons-group">
        <!-- Here the available visibility controls will be listed -->
    </div>

    <div id="coalition-visibility-control" class="ol-group ol-group-button-toggle">
        <div>
            <button id="coalition-visibility-control-blue" data-on-click="toggleCoalitionVisibility"
                data-on-click-params='{ "coalition": "blue" }'><span class="accent-bluefor">BLUEFOR</span></button>
        </div>

        <div>
            <button id="coalition-visibility-control-red" data-on-click="toggleCoalitionVisibility"
                data-on-click-params='{ "coalition": "red" }'><span class="accent-redfor">REDFOR</span></button>
        </div>

        <div>
            <button id="coalition-visibility-control-neutral" data-on-click="toggleCoalitionVisibility"
                data-on-click-params='{ "coalition": "neutral" }'><span class="accent-neutral">NEUTRAL</span></button>
        </div>
    </div>
</nav>