<nav id="rts-toolbar" class="ol-panel hide" oncontextmenu="return false;">
    <span id="command-mode"></span>
    <div id="spawn-points-container">Spawn points<span id="spawn-points"></span></div>
    <span id="rts-phase"></span>
    <button id="rts-settings-button" class="ol-button" data-on-click="showRTSSettingsDialog"><img src="/resources/theme/images/icons/gears-solid.svg" inject-svg>Settings</button>
</nav>