<nav id="rts-toolbar" class="ol-panel" oncontextmenu="return false;">
    <span id="command-mode"></span>
    <div id="spawn-points-container">Spawn points: <span id="spawn-points"></span></div>
    <span id="rts-phase"></span>
</nav>