#server-status-panel {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}

#server-status-panel .ol-data-grid {
    width: 100%;
}

@media (min-width: 1525px) {
    #server-status-panel .ol-data-grid:first-of-type {
        border-right: 1px solid gray;
        padding-right: 10px;
    }
}

@media (max-width: 1525px) {
	#server-status-panel {
        flex-direction: column;
        row-gap: 10px;
        width: 180px;
    }

    #server-status-panel .ol-data-grid:first-of-type {
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
    }
}


#server-status-panel dd {
    font-weight: bold;
}

.fps-low {
    color: red;
}

.fps-medium {
    color: orange;
}

.fps-high {
    color: lightgreen;
}

.load-low {
    color: lightgreen;
}

.load-medium {
    color: orange;
}

.load-high {
    color: red;
}