#unit-info-panel>* {
	position: relative;
	min-height: 100px;
	bottom: 0px;
}
 
#unit-info-panel>.panel-section {
	border-right: 1px solid #555;
	padding: 0 30px;
}

#unit-info-panel>.panel-section:first-child {
	padding-left: 0px;
}

#unit-info-panel>.panel-section:last-child {
	padding-right: 0px;
}

#unit-info-panel>.panel-section:last-of-type {
	border-right-width: 0;
}

#general {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 4px;
	position: relative;
}

#unit-label {
	font-weight: bold;
}

#unit-control {
	color: var(--secondary-lighter-grey);
	font-weight: bold;
}

#unit-name {
	margin-bottom: 4px;
	padding: 0px 0;
	width: 200px;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	overflow: hidden;
}

#current-task {
	border-radius: var(--border-radius-md);
	margin-top: auto;
	padding: 6px 16px;
}

#current-task::after {
	content: attr(data-current-task);
	display: block;
}

#loadout {
	display: flex;
	overflow: visible;
	width: 100%;
	min-width: 125px;
}

#loadout-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}

#loadout-silhouette {
	filter: invert(100%);
	height: 75px;
	margin-right: 25px;
	width: 75px;
}

#loadout-items {
	align-self: center;
	column-gap: 8px;
	display: flex;
	flex-flow: column nowrap;
	height: 100px;
	row-gap: 6px;
	padding-right: 10px;
}

#loadout-items>* {
	align-items: center;
	column-gap: 8px;
	display: flex;
	white-space: nowrap;
}

#loadout-items>*::before {
	align-items: center;
	background-color: var(--secondary-light-grey);
	border-radius: 999px;
	content: attr(data-qty);
	display: flex;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 4px;
}

#loadout-items>*::after {
	content: attr(data-item);
	max-width: 125px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	width: 100%;
}

#fuel-percentage {
	align-items: center;
	display: flex;
	margin-top: 8px;
}

#fuel-percentage::before {
	content: url("/resources/theme/images/icons/fuel.svg");
	display: inline-block;
	filter: invert(100%);
	height: 16px;
	margin-right: 6px;
	width: 16px;
}

#fuel-percentage::after {
	content: attr(data-percentage) "%";
}

#fuel-display {
	background-color: var(--background-grey);
	border-radius: var(--border-radius-md);
	height: 6px;
	margin-top: 4px;
	overflow: hidden;
}

#fuel-display #fuel-bar {
	border-radius: var(--border-radius-md);
	height: 100%;
}