bin
.vs
x64
Output
node_modules
hgt

/backend/vcpkg_installed

/frontend/server/TODO.txt
/frontend/server/public/javascripts/bundle.js
/frontend/server/public/plugins
/frontend/server/plugins/controltips/index.js
/frontend/server/public/databases/units/old
/frontend/server/plugins/databasemanager/index.js

/src/html
/src/latex

/package
/build
/DCS Olympus backups
/zip

*.user
*.aps

L.Path.Drag.js
leaflet-gesture-handling.css
leaflet.nauticscale.js
leaflet.css
package-lock.json

!frontend/server/bin
/mock-dcs
/frontend/setup
frontend/server/public/plugins/controltipsplugin/index.js
frontend/website/plugins/controltips/index.js
/frontend/server/public/maps
*.pyc
/scripts/**/*.jpg
manager/manager.log
/frontend/server/public/assets
/frontend/server/public/vite
/frontend/server/build
/frontend/react/.vite
