<div id="advanced-settings-dialog" class="ol-panel ol-dialog olympus-dialog-close hide" oncontextmenu="return false;">
    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h3 id="unit-name">Olympus 1-1</h3>
    </div>

    <div class="ol-dialog-content">

        <!-- General settings -->
        <div id="general-settings">
            <div class="ol-group">
                <h4>General settings</h4>
                <hr>
            </div>
            <div id="general-settings-grid">
                <div id="prohibit-jettison-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not jettison external stores">
                        <input type="checkbox"/>
                        Prohibit jettison
                    </label>
                </div>
            
                <div id="prohibit-afterburner-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not engage the afterburner">
                        <input type="checkbox" />
                        Prohibit afterburner
                    </label>
                </div>
            
                <div id="prohibit-AA-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not engage airborne targets">
                        <input type="checkbox" />
                        Prohibit A/A
                    </label>
                </div>
            
                <div id="prohibit-AG-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not engage ground targets">
                        <input type="checkbox" />
                        Prohibit A/G
                    </label>
                </div>

                <div id="prohibit-air-wpn-checkbox" class="ol-checkbox">
                    <label title="The unit will not engage air weapons (e.g. SAM sites will not engage HARMs)">
                        <input type="checkbox" />
                        Prohibit air wpn engage
                    </label>
                </div>
            </div>
        </div>

        <!-- Tasking -->
        <!--
        <div id="tasking">
            <div class="ol-group">
                <h4>Tasking</h4>
                <hr>
            </div>
            
            <div id="tanker-checkbox" class="ol-checkbox">
                <label title="The unit will operate as Air to Air Refuelling tanker for airplanes that have a compatible refuelling system">
                    <input type="checkbox" />
                    Operate as AAR tanker
                </label>
            </div>

            <div id="AWACS-checkbox" class="ol-checkbox">
                <label title="The unit will operate as AWACS on datalink">
                    <input type="checkbox" />
                    Operate as AWACS
                </label>
            </div>
        </div>
    -->

        <!-- TACAN options -->
        <div id="TACAN-options">
            <div class="ol-group">
                <h4>TACAN options</h4>
                <hr>
            </div>
            <div id="TACAN-checkbox" class="ol-checkbox">
                <label title="Turn ON the TACAN">
                    <input type="checkbox" />
                    Activate TACAN
                </label>
            </div>

            <div class="ol-group">
                <label>TACAN: </label>
        
                <div class="ol-group">
                    <div id="TACAN-channel" class="ol-text-input">
                        <input type="number" min="1" max="126" step="1" value="40">
                    </div>
                
                    <div id="TACAN-XY" class="ol-select">
                        <div class="ol-select-value">X</div>
                        <div class="ol-select-options">
                        </div>
                    </div>

                    <div id="TACAN-callsign" class="ol-text-input">
                        <input type="text" maxlength="3" value="TKR" style="width: 50px">
                    </div>
                </div>
            </div>
        </div>

        <!-- Radio options -->
        <div id="radio-options">
            <div class="ol-group">
                <h4>Radio options</h4>
                <hr>
            </div>
        
            <div class="ol-group">
                <label> Radio frequency: </label>
            
                <div class="ol-group">
                    <div id="radio-mhz" class="ol-text-input">
                        <input type="number" min="1" max="999" step="1" value="260">
                    </div>
                                    
                    <div id="radio-decimals" class="ol-select">
                        <div class="ol-select-value">.000</div>
                        <div class="ol-select-options">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ol-group">
                <label> Radio callsign: </label>

                <div class="ol-group">
                    <div id="radio-callsign" class="ol-select">
                        <div class="ol-select-value"></div>
                        <div class="ol-select-options">
                        </div>
                    </div>

                    <label>
                        -
                    </label>
                
                    <div id="radio-callsign-number" class="ol-text-input">
                        <input type="number" min="1" max="999" step="1" value="1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ol-dialog-footer ol-group">
        <button class="ol-button-apply" data-on-click="applyAdvancedSettings">Apply</button>
        <button class="ol-button-close" data-on-click="closeDialog">Close</button>
    </div>

</div>