.olympus-button{
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.olympus-button img{
    width: 24px;
    height: 24px;
}

.olympus-button:hover{
    
}

.olympus-button:active{
    
}

