.ol-button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ol-button img {
    width: 24px;
    height: 24px;
}

.ol-button:hover {}

.ol-button:active {}