#connection-status-panel {
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 4px;
}

#status-string {
    font-size: 14px;
    color: white;
}

.ol-status-disconnected::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
}

.ol-status-connected::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: 00FF00;
}