#contextmenu {
    position: absolute;
}

#aircraft-spawn-menu {
    height: 191px;
}

#active-coalition-label {
    position: absolute;
    top: -28px;
    border-radius: 999px;
    width: fit-content;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;
    color: var(--nav-text);
    font-size: 12px;
}

#context-menu-switch {
    margin-right: 10px;
}

.ol-contextmenu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: fit-content;
    height: fit-content;
    z-index: 1000;
}

.ol-contextmenu>div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
}

.ol-contextmenu>ul{
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ol-contextmenu .ol-panel {
    width: 100%;
    border-radius: var(--border-radius-sm);
}

.ol-contextmenu ul {
    margin: 0px;
}

.ol-contextmenu>div:nth-child(3)>button {
    width: 100%;
    text-align: left;
}

.ol-contextmenu>div:nth-child(3){
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
}

.ol-contextmenu .ol-select-container{
    width: 100%;
    flex:0 0 auto;
    align-self: stretch;
}

#deploy-unit-button {
    width: 100%;
    text-align: center;
}

#unit-spawn-aircraft {
    background-image: var( --spawn-aircraft-url );
    background-size: 48px;
}

#unit-spawn-ground {
    background-image: var( --spawn-ground-url );
    background-size: 48px;
}

#unit-spawn-smoke {
    background-image: var( --spawn-smoke-url );
    background-size: 48px;
}

.unit-spawn-button {
    border: none;
    height: 48px;
    width: 48px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 0px;
}

.unit-spawn-button:last-of-type {
    border-top-right-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
}

[data-active-coalition=blue].toggle-fill,
[data-active-coalition=blue].unit-spawn-button:hover, 
[data-active-coalition=blue].unit-spawn-button.is-open, 
[data-active-coalition=blue]#active-coalition-label,
[data-active-coalition=blue]#deploy-unit-button
{
    background-color: var(--primary-blue)
}

[data-active-coalition=red].toggle-fill,
[data-active-coalition=red].unit-spawn-button:hover, 
[data-active-coalition=red].unit-spawn-button.is-open, 
[data-active-coalition=red]#active-coalition-label,
[data-active-coalition=red]#deploy-unit-button
{
    background-color: var(--primary-red)
}

[data-active-coalition=blue]#deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-blue);
    cursor: default;
}
[data-active-coalition=red]#deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-red);
    cursor: default;
}

[data-active-coalition=blue]#active-coalition-label::after {
    content: "Create blue unit";
}
[data-active-coalition=red]#active-coalition-label::after {
    content: "Create red unit";
}