#contextmenu {
    position: absolute;
}

.content #contextmenu {
    position: relative;
}

.ol-contextmenu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 200px;
    height: fit-content;
    z-index: 1000;
}

.ol-contextmenu>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ol-contextmenu>ul{
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ol-contextmenu .ol-panel {
    width: 100%;
    border-radius: var(--border-radius-sm);
}

.ol-contextmenu ul {
    margin: 0px;
}

.ol-contextmenu button {
    width: 100%;
    text-align: left;
}

.ol-contextmenu>ul::-webkit-scrollbar {
    width: 10px;
}
  
.ol-contextmenu>ul::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

.ol-contextmenu>ul::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100px;
    opacity: 0.8;
    margin-top: 10px;
}
