.olympus-element-1 {
    background-color: #247be2;
    height: 28;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.bottom-separator {
    border-bottom: 1px solid gray;
}