
/* Page style */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-family: 'Open Sans', sans-serif;
}

body {
	display:grid;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

#map-container {
	height: 100%;
	min-width: 820px;
	width: 100%;
}

#primary-toolbar {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1000;
}

.content #primary-toolbar {
	position: static;
}

#unit-control-panel {
	height: fit-content;
	left: 10px;
	position: absolute;
	top: 80px;
	width: 250px;
	z-index: 1000;
}

body.feature-forceShowUnitControlPanel #unit-control-panel {
	display:block !important;
}

.content #unit-control-panel {
	position: static;
}

#connection-status-panel {
	bottom: 20px;
	height: 30px;
	position: absolute;
	right: 10px;
	width: 160px;
	z-index: 1000;
}

#mouse-info-panel {
	bottom: 60px;
	height: fit-content;
	position: absolute;
	right: 10px;
	width: 160px;
	z-index: 1000;
}

.content #mouse-info-panel {
	margin-bottom: 100px;
	position: static;
}


#log-panel {
	height: 200px;
	left: 10px;
	position: absolute;
	top: 60px;
	width: 400px;
	z-index: 1000;
}
