
/* Page style */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-family: 'Open Sans', sans-serif;
}

body {
	display:grid;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

#map-container {
	height: 100%;
	width: 100%;
	min-width: 820px;
}

#unit-info-panel {
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 1000;
}

#settings-panel {
	position: absolute;
	left: 10px;
	height: fit-content;
	width: fit-content;
	top: 10px;
	z-index: 1000;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

#unit-control-panel {
	position: absolute;
	top: 10px;
	height: fit-content;
	width: 250px;
	right: 10px;
	z-index: 1000;
}

#connection-status-panel {
	position: absolute;
	height: 30px;
	width: 160px;
	bottom: 20px;
	right: 10px;
	z-index: 1000;
}

#mouse-info-panel {
	position: absolute;
	height: fit-content;
	width: 160px;
	bottom: 60px;
	right: 10px;
	z-index: 1000;
}

#log-panel {
	position: absolute;
	height: 200px;
	width: 400px;
	top: 60px;
	left: 10px;
	z-index: 1000;
}
