#info-popup {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 100px;
    left: 50%;
    translate: -50% 0%;
    z-index: 9999;
}

.ol-popup > div {
    padding-left: 15px;
    padding-right: 15px;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
    transition: opacity 2s linear;
}