.olympus-selection-wheel {
    margin: 0;
    position: fixed;
    z-index: 1000;
    width: 220px;
    height: 220px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.olympus-wheel {
    width: 100%;
    border-radius: 50%;
    background-color: var(--active-coalition-color);
    opacity: 0.8;
    -webkit-mask: radial-gradient(transparent 30%,#000 31%);
            mask: radial-gradient(transparent 30%,#000 31%);
    transition: background-color 0.2s;
}

.olympus-wheel:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.selection-wheel-button {
    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 50px;
    opacity: 0;
    /*transition: opacity var(--animation_duration), left var(--animation_duration), top var(--animation_duration);*/
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.selection-wheel-image {
    width: 45px;
    height: 45px;
    /*filter: invert(100%);*/
    transition: width var(--animation_duration), height var(--animation_duration);
    filter: drop-shadow(1px 1px 0px var(--highlight-color)) drop-shadow(1px -1px 0px var(--highlight-color)) drop-shadow(-1px 1px 0px var(--highlight-color)) drop-shadow(-1px -1px 0px var(--highlight-color));
}

.selection-wheel-button:hover {
    filter: drop-shadow(1px 1px 2px var(--highlight-color)) drop-shadow(1px -1px 2px var(--highlight-color)) drop-shadow(-1px 1px 2px var(--highlight-color)) drop-shadow(-1px -1px 2px var(--highlight-color));
}

.selection-wheel-button:hover .selection-wheel-image {
    width: 50px;
    height: 50px;
    /*filter: invert(21%) sepia(23%) saturate(775%) hue-rotate(170deg) brightness(92%) contrast(90%);*/
}

.olympus-selection-wheel label {
    width: 0;
    height: 0;
}

.olympus-selection-wheel input {
    width: 0;
    height: 0;
}

.olympus-selection-wheel-switch {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #fffa;
    border: 1px solid var(--active-coalition-color);
    border-radius: 17px;
    margin-left: -30px;
    margin-top: -17px;
    cursor: pointer;
}

.olympus-selection-wheel-switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--active-coalition-color);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
    
}

input:checked + .olympus-selection-wheel-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
