.slider-container {
    width: 100%; 
}

.slider {
    width: 100%;
    -webkit-appearance: none;  
    appearance: none;
    height: 2px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: gray; 
    cursor: pointer; 
    border-radius: 999px;
}

.active .slider::-webkit-slider-thumb {
    background: #5ca7ff; 
}

.slider::-moz-range-thumb {
    width: 20px; 
    height: 20px;
    background: gray; 
    cursor: pointer; 
    border-radius: 999px;
}

.active .slider::-moz-range-thumb {
    background: #5ca7ff;
}