@import url("panels.css");
@import url("dropdown.css");
@import url("selectionwheel.css");
@import url("selectionscroll.css");
@import url("unitmarker.css");

/* Variables definitions */
:root {
    --background-color:#202831;
	--title-color:#d3e9ff;
	--text-color:white;
    --blue-coalition-color: #2196F3;
    --red-coalition-color: #f32121;
    --active-coalition-color: var(--blue-coalition-color);
    --highlight-color: #FFFFFFAA;
}

/* Page style */
body {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

#map-container
{
  	height: 100%;
	width: 100%;
}

#unit-info-panel {
	height: 100px;
    width: 800px;
    left: 10px;
    bottom: 10px;
	z-index: 1000;
	display: flex;
}

#scenario-dropdown {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 250px;
}

#map-source-dropdown {
	position: fixed;
	top: 10px;
	left: 280px;
	width: 250px;
}