body.feature-forceShowUnitControlPanel #unit-control-panel {
	display:block !important;
}


#unit-control-panel {
	height: fit-content;
	left: 10px;
	position: absolute;
	top: 80px;
	width: 250px;
	z-index: 1000;
}

#unit-control-panel h3 {
	margin-bottom:8px;
}

#unit-control-panel #selected-units-container {
	align-items: left;
	border-radius: var( --border-radius-md );
	display:flex;
	flex-direction: column;
	max-height: 136px;
	overflow-y:auto;
	row-gap: 4px;
}

#unit-control-panel #selected-units-container button {
	align-items: center;
	border-radius: var( --border-radius-lg );
	display:flex;
	font-size: 11px;
	height:30px;
	padding:8px 0;
	position: relative;
	width:90%;
}

#unit-control-panel #selected-units-container button::before {
	background-color: var( --primary-grey );
	border-radius: var( --border-radius-md );
	content: attr( data-short-label );
	margin:0 5px;
	padding:4px 6px;
	white-space: nowrap;
	width:fit-content;
}



#unit-control-panel #selected-units-container button[data-coalition="blue"]::before {
	background-color: var( --accent-light-blue );
}

#unit-control-panel #selected-units-container button[data-coalition="red"]::before {
	background-color: var( --accent-light-red );
	color:var(--secondary-red-outline)
}

#unit-control-panel #selected-units-container button::after {
	border-radius: var( --border-radius-sm );
	content: attr( data-callsign );
	display: block;
	overflow: hidden;
	padding:4px;
	padding-left:0;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:fit-content;
}


#unit-control-panel #selected-units-container button:hover::after {
	overflow: visible;
	text-overflow:initial;
}

#unit-control-panel #selected-units-container button:hover::after {
	background-color: var( --background-grey );
}

#unit-control-panel #selected-units-container button[data-coalition="blue"]:hover::after {
	background-color: var( --primary-blue );
}

#unit-control-panel #selected-units-container button[data-coalition="red"]:hover::after {
	background-color: var( --primary-red );
}

#unit-control-panel h4 {
	margin-bottom:8px;
}


#unit-control-panel #threat,
#unit-control-panel #roe {
	margin-top:12px;
}