#visibility-control-panel
{
    display: flex;
    column-gap: 10px;
}

#visibility-control-panel .label {
    color: white;
    font-size: 12px;
    font-weight: 600;
}

#visibility-control-panel .ol-vl {
    height: 60%;
}

