<style>
    
</style>
<div>
    <div class="instructions">
        <div class="step">
            Step 1 of <%= singleInstance? "4": "5" %>
        </div>
        <div class="title">
            Which DCS instance you want to add Olympus to?
        </div>
        <div class="description">
            Olympus is added to DCS instances individually, and will only work for that specific instance. <br>
            You can have Olympus installed across multiple DCS instances. Re-run in the install wizard to add Olympus to another DCS install.
        </div>
    </div>
    <div class="wizard-inputs">
        <% for (var i = 0; i < instances.length; i++) { %>
            <div class="button radio" onclick="signal('onFolderClicked', '<%= instances[i].name %>')" data-folder="<%= instances[i].folder %>">
                <%= instances[i].name %>
            </div>
        <% } %>
    </div>
</div>
