<style>
    #manager-passwords {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    #manager-passwords .input-group {
        color: var(--offwhite);
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    #manager-passwords .input-group>span:nth-child(1) {
        font-size: 14px;
        font-weight: 600;
    }

    #manager-passwords .input-group>span:nth-child(2) {
        font-size: 13px;
        font-weight: normal;
    }

    #manager-passwords>.instructions {
        margin-bottom: 10px;
    }

    #manager-passwords>.buttons-footer {
        margin-top: 10px;
    }

    #manager-passwords input {
        width: 250px;
    }

</style>
<div id="manager-passwords">
    <div class="page-header">
        Step 3: Passwords
    </div>
    <div class="input-group">
        <span>Enter your passwords to access Olympus</span>
        <span>By using the passwords below, you can access different roles in Olympus.</span>
    </div>

    <div class="input-group game-master">
        <span>Game Master Password</span>
        <span>This password is used to access Olympus as Game Master with full priviledges.</span>
        <input type="password" minlength="8">
    </div>
    <div class="input-group blue-commander">
        <span>Blue Commander Password</span>
        <span>This password is used to access Olympus as blue coalition Commander.</span>
        <input type="password" minlength="8">
    </div>
    <div class="input-group red-commander">
        <span>Red Commander Password</span>
        <span>This password is used to access Olympus as red coalition Commander.</span>
        <input type="password" minlength="8">
    </div>
    <div class="buttons-footer">
        <div class="button back">
            Back
        </div>
        <div class="button next">
            Next
        </div>
        <div class="button cancel">
            Cancel
        </div>
    </div>
</div>