<style>
    #manager-menu {
        display: flex;
        flex-direction: row;
        height: 100%;
        min-height: 100%;
        align-items: center;
    }

    #manager-menu>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #manager-menu .option {
        background-color: var(--background);
        border: 1px solid var(--offwhite);
        width: 460px;
        height: 110px;
        color: var(--offwhite);
        display: flex;
        font-size: 18px;
        font-weight: 600;
        padding-left: 15px;
        align-items: start;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;
        color: var(--offwhite);
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        position: relative;
    }

    #manager-menu .option>div {
        font-size: 14px;
        font-weight: normal;
    }

    #manager-menu .option::after {
        position: absolute;
        display: block;
        content: " ";
        width: 20px;
        height: 20px;
        background-image: url("./icons/chevron-right-solid.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        right: 15px;
    }

    #manager-menu .option:hover {
        color: var(--background);
        background-color: var(--offwhite);
    }

    #manager-menu .option.disabled {
        pointer-events: none;
        color: var(--darkgray);
        border-color: var(--darkgray);
    }

    #manager-menu .option * {
        pointer-events: none;
    }
</style>
<div id="manager-menu">
    <div id="summary" style="width: 70%; height: 100%; color: var(--offwhite); padding: 80px;">
        <div style="font-size: 50px; font-weight: bold;">
            DCS OLYMPUS <img src="../img/OlympusLogoFinal_4k.png" style="height: 100px; width: 100px; margin-bottom: -30px;"\>
        </div>
        <div style="font-size: 20px; font-weight: bold;">
            INSTALL WIZARD AND MANAGER
        </div>
        <div style="color: var(--lightgray); font-size: 13px; font-weight: normal; margin-top: 20px; width: 300px;">
            Using this manager, you can install Olympus, update settings, and view and manage instances
        </div>
    </div>
    <div id="menu" style="row-gap: 20px; width: 60%;">
        <div class="option <%= installEnabled? '': 'disabled' %>" onclick="signal('onInstallMenuClicked')">
            Add Olympus
            <div>
                Add or update Olympus to a new DCS instance
            </div>
        </div>
        <div class="option <%= editEnabled? '': 'disabled' %>" onclick="signal('onEditMenuClicked')">
            Change settings
            <div>
                Adjust port, address and password settings
            </div>
        </div>
    </div>
</div>