<style>
    
</style>
<div id="manager-passwords">
    <div class="step-summary">
        <div class="blue <%= !install || simplified? 'hide': '' %>">User path</div>
        <div class="blue">Ports and address</div>
        <div class="white">Passwords</div>
        <div class="empty"> <%= install? 'Install': 'Update' %></div>
    </div>
    <div class="content">
        <div class="instructions">
            <span>
                Enter your passwords to access Olympus
            </span>
            <span>
                When logging into Olympus, these passwords will let you access the different roles. Gamemaster is the default.
            </span>
        </div>

        <div class="input-group game-master">
            <span>Game Master Password<img src="./icons/circle-info-solid.svg" title="This password is used to access Olympus as Game Master with full privileges.">
            </span>
            <input type="password" minlength="8">
        </div>
        <div class="input-group blue-commander">
            <span>Blue Commander Password<img src="./icons/circle-info-solid.svg" title="This password is used to access Olympus as blue coalition Commander.">
            </span>
            <input type="password" minlength="8">
        </div>
        <div class="input-group red-commander">
            <span>Red Commander Password<img src="./icons/circle-info-solid.svg" title="This password is used to access Olympus as red coalition Commander.">
            </span>
            <input type="password" minlength="8">
        </div>
        <div class="buttons-footer">
            <div class="button back">
                Back
            </div>
            <div class="button next">
                Next
            </div>
        </div>
        <% if (!simplified) { %>
        <div class="button cancel">
            Cancel installation
        </div>
        <% } %>
    </div>
</div>