<div class="popup-header">
    Information
</div>
<div class="popup-content">
    <%= message %>
</div>
<div class="popup-footer">
    <button class="button other <%= otherButton? "": " hide"%>" ><%= otherButton %></button>
    <button class="button apply">Close</button>
</div>