<style>
    
</style>
<div class="instructions">
    <div class="step">
        Step 1 of 4
    </div>
    <div class="title">
        Do you want to add Olympus for singleplayer or multiplayer?
    </div>
    <div class="description">
        Select singleplayer if you only want to play locally on your own computer. <br>
        Select multiplayer if you want Olympus to be useable over the internet from a different computer, or this instance is a dedicated server.
    </div>
</div>
<div class="buttons">
    <div class="button">
        Singleplayer
    </div>
    <div class="button">
        Multiplayer
    </div>
</div>
