<style>
      #manager-welcome {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #manager-welcome span {
        width: 40%;
        text-align: center;
        color: var(--offwhite);
    }

    #manager-welcome .option {
        background-color: var(--background);
        border: 1px solid var(--offwhite);
        width: 460px;
        height: 70px;
        color: var(--offwhite);
        display: flex;
        font-size: 18px;
        font-weight: 600;
        padding-left: 15px;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        background-color: transparent;
        color: var(--offwhite);
    }

    #manager-welcome .option:hover {
        color: var(--background);
        background-color: var(--offwhite);
    }

    #manager-welcome .option.disabled {
        pointer-events: none;
        color: var(--darkgray);
        border-color: var(--darkgray);
    }

    #manager-welcome .option * {
        pointer-events: none;
    }

</style>
<div id="manager-welcome">
    <span style="font-size: 28px; font-weight: bold;">
        Do you want to use the Olympus Manager in basic or advanced mode?
    </span>
    <span style="color: var(--gray);">
        Basic mode is recommended for most users. <br>
        Advanced mode is for those who know how Olympus works or for server owners.
    </span>
    <span style="color: var(--gray); font-weight: bold;">
        You can change this setting at any time.
    </span>
    <div class="option basic">
        Basic mode
    </div>
    <div class="option advanced">
        Advanced mode
    </div>
</div>