.ol-navpoint-marker>.navpoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.ol-navpoint-marker>.navpoint>.navpoint-icon {
    height: 8px;
    width: 8px;
    background: white;
    flex: none;
    transform: rotate3d(0, 0, 1, 45deg);
}

.ol-navpoint-marker>.navpoint>.navpoint-main-label {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: white;
}

.ol-navpoint-marker .navpoint-comment-box {
    font-size: 8px;
    font-style: italic;
    color: white;
    max-width: 50px;
}