.static-icon::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: url("/images/cursors/pointer.svg") 13 5, auto;
}

.static-icon[data-coalition="red"]::after {
  background-color: var(--unit-background-red);
  border-radius: 10%;
  opacity: 0.5;
}

.static-icon[data-coalition="blue"]::after {
  background-color: var(--unit-background-blue);
  border-radius: 10%;
  opacity: 0.5;
}

.static-icon[data-coalition="neutral"]::after {
  background-color: var(--unit-background-neutral);
  border-radius: 10%;
  opacity: 0.5;
}

.static-icon[data-is-selected]::after {
background-color: var(--unit-spotlight-fill);
  opacity: 1;
}

#map-container .leaflet-static-marker.static-disable-pointer-events {
  pointer-events: none;
}