<div id="server-status-panel" class="ol-panel" oncontextmenu="return false;">
    <dl class="ol-data-grid">
        <dt>Server frame rate:</dt>
        <dd id="server-frame-rate"></dd>
    </dl>
    <dl class="ol-data-grid">
        <dt>Olympus load:</dt>
        <dd id="server-load"></dd>
    </dl>
</div>