<div id="splash-screen" class="ol-dialog" oncontextmenu="return false;">
    <div id="splash-content" class="ol-dialog-content">
        <div id="app-summary">
            <h2>DCS Olympus</h2>
            <h4>Dynamic Unit Command</h4>
            <div class="app-version">Version <span class="app-version-number">v0.4.6-alpha</span></div>
        </div>

        <form id="authentication-form">
            <div><h5>Name</h5> <input type="text" id="username" name="username" required autocomplete="username" placeholder="Enter username..."></div>
            <div><h5>Server password</h5> <input type="password" id="password" name="password" minlength="8" required autocomplete="current-password" placeholder="Enter password..."></div>
            <button type="submit" id="connection-button" class="ol-button-apply">Connect</button>
        </form>

        <h5 id="login-status"><br></h5>

        <div id="legal-stuff">
            <h5>DISCLAIMER</h5>
            <p> 
                Copyright (C) 2023 Veltro & Gang
            </p>
            <p>    
                DCS Olympus (the "MATERIAL" or "Software") is provided completely free 
                to users subject to the it under both the terms of version 3 of the GNU 
                General Public License as published by the Free Software Foundation, and 
                the additional terms set out below; except where such terms conflict with this 
                disclaimer, in which case, the terms of this disclaimer shall prevail. 
            </p>
            <p>    
                The authors and/or copyright holders of the Software have not received any 
                financial benefit in connection with the Software. In any event, the 
                Software is provided “as is”, without warranty of any kind, express or 
                implied, including but not limited to the warranties of merchantability, 
                fitness for a particular purpose and non-infringement. In no event shall 
                the authors and/or copyright holders be liable for any claim, damages or 
                other liability, whether in an action of contract, tort or otherwise, 
                arising from, out of or in connection with the Software or the use or o
                ther dealings in the Software. 
            </p>
            <p>
                Any party making use of the Software in any manner agrees to be 
                bound by the terms set out in this disclaimer, version 3 of the GNU 
                General Public Licence, and the Additional Terms below. 
            </p>    
            <p>
                THIS MATERIAL IS NOT MADE OR SUPPORTED BY EAGLE DYNAMICS SA.    
            </p>               
        </div>
    </div>
</div>

<div id="advanced-settings-dialog" class="ol-panel ol-dialog olympus-dialog-close hide" oncontextmenu="return false;">
    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h3 id="unit-name">Olympus 1-1</h3>
    </div>

    <div class="ol-dialog-content">

        <!-- General settings -->
        <div id="general-settings">
            <div class="ol-group">
                <h4>General settings</h4>
                <hr>
            </div>
            <div id="general-settings-grid">
                <div id="prohibit-jettison-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not jettison external stores">
                        <input type="checkbox"/>
                        Prohibit jettison
                    </label>
                </div>
            
                <div id="prohibit-afterburner-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not engage the afterburner">
                        <input type="checkbox" />
                        Prohibit afterburner
                    </label>
                </div>
            
                <div id="prohibit-AA-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not engage airborne targets">
                        <input type="checkbox" />
                        Prohibit A/A
                    </label>
                </div>
            
                <div id="prohibit-AG-checkbox" class="ol-checkbox air-unit-checkbox">
                    <label title="The unit will not engage ground targets">
                        <input type="checkbox" />
                        Prohibit A/G
                    </label>
                </div>

                <div id="prohibit-air-wpn-checkbox" class="ol-checkbox">
                    <label title="The unit will not engage air weapons (e.g. SAM sites will not engage HARMs)">
                        <input type="checkbox" />
                        Prohibit air wpn engage
                    </label>
                </div>
            </div>
        </div>

        <!-- TACAN options -->
        <div id="TACAN-options">
            <div class="ol-group">
                <h4>TACAN options</h4>
                <hr>
            </div>
            <div id="TACAN-checkbox" class="ol-checkbox">
                <label title="Turn ON the TACAN">
                    <input type="checkbox" />
                    Activate TACAN
                </label>
            </div>

            <div class="ol-group">
                <label>TACAN: </label>
        
                <div class="ol-group">
                    <div id="TACAN-channel" class="ol-text-input">
                        <input type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onkeyup="if (value > 126) value = 126;">
                    </div>
                
                    <div id="TACAN-XY" class="ol-select">
                        <div class="ol-select-value">X</div>
                        <div class="ol-select-options">
                        </div>
                    </div>

                    <div id="TACAN-callsign" class="ol-text-input">
                        <input type="text" maxlength="3" value="TKR" style="width: 50px">
                    </div>
                </div>
            </div>
        </div>

        <!-- Radio options -->
        <div id="radio-options">
            <div class="ol-group">
                <h4>Radio options</h4>
                <hr>
            </div>
        
            <div class="ol-group">
                <label> Radio frequency: </label>
            
                <div class="ol-group">
                    <div id="radio-mhz" class="ol-text-input">
                        <input type="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onkeyup="if (value > 999) value = 999;">
                    </div>
                                    
                    <div id="radio-decimals" class="ol-select">
                        <div class="ol-select-value">.000</div>
                        <div class="ol-select-options">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ol-group">
                <label> Radio callsign: </label>

                <div class="ol-group">
                    <div id="radio-callsign" class="ol-select">
                        <div class="ol-select-value"></div>
                        <div class="ol-select-options">
                        </div>
                    </div>

                    <label>
                        -
                    </label>
                
                    <div id="radio-callsign-number" class="ol-text-input">
                        <input type="number" min="1" max="999" step="1" value="1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ol-dialog-footer ol-group">
        <button class="ol-button-apply" data-on-click="applyAdvancedSettings">Apply</button>
        <button class="ol-button-close" data-on-click="closeDialog">Close</button>
    </div>

</div>

<div id="custom-formation-dialog" class="ol-panel ol-dialog olympus-dialog-close hide" oncontextmenu="return false;">
    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h3 id="unit-name">Custom formation</h3>
    </div>

    <div class="ol-dialog-content">
        <div class="formation-position-clock">
            <div class="clock-hand" style="top: 0px;   left: 50px;"><input  type="radio" id="formation-1" name="formation-position" value="1"></div>
            <div class="clock-hand" style="top: 14px;  left: 14px;"><input  type="radio" id="formation-2" name="formation-position" value="2"></div>
            <div class="clock-hand" style="top: 50px;  left: 0px; "><input  type="radio" id="formation-3" name="formation-position" value="3"></div>
            <div class="clock-hand" style="top: 86px;  left: 14px;"><input  type="radio" id="formation-4" name="formation-position" value="4"></div>
            <div class="clock-hand" style="top: 100px; left: 50px;"><input  type="radio" id="formation-5" name="formation-position" value="5"></div>
            <div class="clock-hand" style="top: 86px;  left: 86px;"><input  type="radio" id="formation-6" name="formation-position" value="6" checked></div>
            <div class="clock-hand" style="top: 50px;  left: 100px"><input  type="radio" id="formation-7" name="formation-position" value="7"></div>
            <div class="clock-hand" style="top: 14px;  left: 86px;"><input  type="radio" id="formation-8" name="formation-position" value="8"></div>
            <div style="top: 50px; left: 50px;" id="reference-system"></div>
        </div>

        <div class="ol-group">
            <label>Distance: </label>
            
            <div class="ol-group">
                <div id="distance" class="ol-text-input">
                    <input type="number" min="0" max="999999" step="1" value="150">
                </div>
                <label>ft</label>
            </div>
        </div>

        <div class="ol-group">
            <label>Up-down: </label>
            
            <div class="ol-group">
                <div id="up-down" class="ol-text-input">
                    <input type="number" min="-99999" max="99999" step="1" value="30">
                </div>
                <label>ft</label>
            </div>
        </div>
    </div>

    <div class="ol-dialog-footer ol-group">
        <button class="ol-button-apply" data-on-click="applyCustomFormation">Apply</button>
        <button class="ol-button-close" data-on-click="closeDialog">Close</button>
    </div>
</div>


<div id="command-mode-settings-dialog" class="ol-panel ol-dialog olympus-dialog-close hide" oncontextmenu="return false;">
    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h3 id="unit-name">Command mode settings</h3>
    </div>

    <div class="ol-dialog-content">
        <div id="restrict-spawns" class="ol-checkbox">
            <label title="If false, no spawn restrictions will be applied">
                <input type="checkbox"/>
                Restrict spawns 
            </label>
        </div>

        <div id="restrict-to-coalition" class="ol-checkbox">
            <label title="If true, commanders will be allowed to only spawn units that belong to their coalition. E.g. blue commanders will be able to spawn F/A-18 Hornets, but not MiG-29s.">
                <input type="checkbox"/>
                Restrict units to coalition
            </label>
        </div>

        <div class="ol-group">
            <label>Setup time: </label>
            
            <div class="ol-group">
                <div id="setup-time" class="ol-text-input">
                    <input type="number" min="-99999" max="99999" step="1" value="10">
                </div>
                <label>minutes</label>
            </div>
        </div>

        <div class="ol-group">
            <label>Available eras: </label>
            
            <div id="command-mode-era-options" class="ol-select">
                <div class="ol-select-value">Select eras</div>
                <div class="ol-select-options">
                    <!-- This is where all the available era buttons will be shown-->
                </div>
            </div>
        </div>

        <div class="ol-group">
            <h4>Spawn points</h4>
            <hr>
        </div>

        <div class="ol-group">
            <label>Blue spawn points: </label>
            <div id="blue-spawn-points" class="ol-text-input">
                <input type="number" min="0" max="999999" step="1" value="1000">
            </div>
        </div>

        <div class="ol-group">
            <label>Red spawn points: </label>
            <div id="red-spawn-points" class="ol-text-input">
                <input type="number" min="0" max="999999" step="1" value="1000">
            </div>
        </div>
        
    </div>

    <div class="ol-dialog-footer ol-group">
        <button class="ol-button-apply" data-on-click="applycommandModeOptions">Apply</button>
        <button class="ol-button-close" data-on-click="closeDialog">Close</button>
    </div>
</div>


<div id="slow-delete-dialog" class="ol-panel ol-dialog hide" oncontextmenu="return false;">
    <div class="ol-dialog-header">
        <h3 id="unit-name">Confirm deletion method</h3>
    </div>

    <div class="ol-dialog-content">
        <p>You are trying to delete a large amount of units (<span class="deletion-count"></span>), which can cause the server to lag for players.</p>
        <p>You may:
            <ul>
                <li>delete in batches (less lag but Olympus cannot process any additional orders until<br /> all units have been deleted);</li>
                <li>delete immediately (you can continue to give Olympus orders but players may<br />experience lag while this happens);</li>
                <li>cancel this instruction.</li>
            </ul></p>
    </div>

    <div class="ol-dialog-footer ol-group">
        <button data-action="delete-slow">Delete in batches (~<span class="deletion-time"></span>s)</button>
        <button data-action="delete-immediate">Delete immediately</button>
        <button data-action="delete-cancel">Cancel</button>
    </div>
</div>
