#map-contextmenu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    row-gap: 5px;
    width: 300px;
    z-index: 9999;
}

#map-contextmenu>div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
}

#map-contextmenu>div:nth-child(3) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
}

#map-contextmenu>div:nth-child(n+4) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
}

#aircraft-spawn-menu,
#helicopter-spawn-menu,
#groundunit-spawn-menu,
#navyunit-spawn-menu {
    height: fit-content;
}

#active-coalition-label {
    border-radius: 999px;
    color: var(--nav-text);
    font-size: 12px;
    font-weight: 600;
    height: fit-content;
    padding: 3px 10px;
    padding-bottom: 3px;
    position: absolute;
    top: -28px;
    width: fit-content;
}

#coalition-switch {
    margin-right: 10px;
    height: 25px;
    width: 50px;
}

#aircraft-spawn-menu .ol-select.is-open .ol-select-options,
#helicopter-spawn-menu .ol-select.is-open .ol-select-options {
    max-height: 300px;
}

.deploy-unit-button {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.deploy-unit-button[data-points]:not([data-points='']):not([data-points='0']):not([data-points='Infinity'])::after {
    content: " (" attr(data-points) " points)";
}

.upper-bar svg>* {
    fill: white;
}

.upper-bar svg {
    width: 22px;
    margin: 0px 5px;
}

.upper-bar button:nth-child(2) {
    margin-left: auto;
}

[data-coalition="blue"]#active-coalition-label,
[data-coalition="blue"].deploy-unit-button,
[data-coalition="blue"]#spawn-airbase-aircraft-button,
[data-coalition="blue"].create-iads-button {
    background-color: var(--primary-blue)
}

[data-coalition="red"]#active-coalition-label,
[data-coalition="red"].deploy-unit-button,
[data-coalition="red"]#spawn-airbase-aircraft-button,
[data-coalition="red"].create-iads-button {
    background-color: var(--primary-red)
}

[data-coalition="neutral"]#active-coalition-label,
[data-coalition="neutral"].deploy-unit-button,
[data-coalition="neutral"]#spawn-airbase-aircraft-button,
[data-coalition="neutral"].create-iads-button {
    background-color: var(--primary-neutral)
}

[data-coalition="blue"].deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-blue);
    cursor: default;
}

[data-coalition="red"].deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-red);
    cursor: default;
}

[data-coalition="neutral"].deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-neutral);
    cursor: default;
}

[data-coalition="blue"]#active-coalition-label::after {
    content: "Create blue unit";
}

[data-coalition="red"]#active-coalition-label::after {
    content: "Create red unit";
}

[data-coalition="neutral"]#active-coalition-label::after {
    content: "Create neutral unit";
}

#aircraft-loadout-preview,
#helicopter-loadout-preview {
    align-content: space-between;
    align-items: center;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#aircaft-loadout-list,
#helicopter-loadout-list  {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#aircraft-unit-image,
#helicopter-unit-image  {
    filter: invert(100%);
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
}

#smoke-spawn-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#explosion-menu>button,
#smoke-spawn-menu>button {
    align-items: center;
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
}

#smoke-spawn-menu>button::before {
    border-radius: 999px;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
}

[data-smoke-color="red"]::before {
    background-color: red;
}

[data-smoke-color="white"]::before {
    background-color: white;
}

[data-smoke-color="blue"]::before {
    background-color: blue;
}

[data-smoke-color="green"]::before {
    background-color: green;
}

[data-smoke-color="orange"]::before {
    background-color: orange;
}

.ol-context-menu .ol-slider-value {
	color: var(--accent-light-blue);
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.ol-context-menu .ol-slider-container {
    padding: 0px 10px;
}

.contextmenu-options-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.contextmenu-options-container>*:nth-child(2) {
    width: 120px;
}

/* Unit context menu */
#unit-contextmenu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 15px;
    position: absolute;
    row-gap: 5px;
    width: fit-content;
    z-index: 9999;
}

#unit-contextmenu button {
    border: 1px solid var(--background-offwhite);
    border-radius: var(--border-radius-sm);
    font-weight: normal;
    padding: 12px;
}

#unit-contextmenu div {
    align-content: center;
    display: flex;
    flex-direction: row;
}

#unit-contextmenu div:before {
    display: inline-block;
    filter: invert(100%);
    height: 16px;
    margin-right: 15px;
    width: 16px;
}

#center-map::before {
    content: url("/resources/theme/images/icons/arrows-to-eye-solid.svg");
}

#refuel::before {
    content: url("/resources/theme/images/icons/fuel.svg");
}

#attack::before {
    content: url("/resources/theme/images/icons/sword.svg");
}

#bomb::before {
    content: url("/resources/theme/images/icons/crosshairs-solid.svg");
}

#carpet-bomb::before {
    content: url("/resources/theme/images/icons/explosion-solid.svg");
}

#fire-at-area::before {
    content: url("/resources/theme/images/icons/crosshairs-solid.svg");
}

#follow::before {
    content: url("/resources/theme/images/icons/follow.svg");
}

#trail::before {
    content: url("/resources/theme/images/icons/trail.svg");
}

#echelon-lh::before {
    content: url("/resources/theme/images/icons/echelon-lh.svg");
}

#echelon-rh::before {
    content: url("/resources/theme/images/icons/echelon-rh.svg");
}

#line-abreast-rh::before,
#line-abreast-lh::before {
    content: url("/resources/theme/images/icons/line-abreast.svg");
}

#front::before {
    content: url("/resources/theme/images/icons/front.svg");
}

#diamond::before {
    content: url("/resources/theme/images/icons/diamond.svg");
}

#custom::before {
    content: url("/resources/theme/images/icons/custom.svg");
}

#custom-formation-dialog {
    width: 250px;
}

#custom-formation-dialog>.ol-dialog-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
    row-gap: 10px;
}

#custom-formation-dialog>.ol-dialog-content>.ol-group {
    justify-content: space-between;
    width: 100%;
}

#reference-system {
    content: url("/images/reference-system.svg");
    display: inline-block;
    filter: invert(100%);
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
}

.formation-position-clock {
    height: 100px;
    margin: 15px;
    position: relative;
    width: 100px;
}

.formation-position-clock>.clock-hand {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
}

/* Airbase context menu */
#airbase-contextmenu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    row-gap: 5px;
    width: 180px;
    z-index: 9999;
}

/* Coalition area context menu */
#coalition-area-contextmenu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    row-gap: 5px;
    width: 300px;
    z-index: 9999;
}

#coalition-area-switch {
    margin-right: 10px;
    height: 25px;
    width: 50px;
}

#coalition-area-contextmenu .ol-checkbox {
    align-self: flex-start;
}

#coalition-units-checkbox {
    padding: 10px 10px;
}

#iads-menu .ol-select-options>* {
    padding-top: 8px;
    padding-bottom: 8px;
}

#iads-menu .ol-select-options>*:first-child {
    padding-top: 15px;
}

#iads-menu .ol-select-options>*:last-child {
    padding-bottom: 15px;
}

#iads-menu .ol-select {
    width: 100%;
}

#iads-menu {
    row-gap: 10px;
}

#coalition-area-contextmenu>div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
}

#coalition-area-contextmenu>div:nth-child(n+3) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
}

.create-iads-button {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}