#map-contextmenu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    row-gap: 5px;
    width: 230px;
    z-index: 9999;
}

#aircraft-spawn-menu {
    height: fit-content;
}

#ground-unit-spawn-menu {
    height: fit-content;
}

#active-coalition-label {
    border-radius: 999px;
    color: var(--nav-text);
    font-size: 12px;
    font-weight: 600;
    height: fit-content;
    padding: 3px 10px;
    padding-bottom: 3px;
    position: absolute;
    top: -28px;
    width: fit-content;
}

#context-menu-switch {
    margin-right: 10px;
}

#map-contextmenu>div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0px;
}

#map-contextmenu>ul {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#map-contextmenu .ol-panel {
    border-radius: var(--border-radius-sm);
    width: 100%;
}

#map-contextmenu ul {
    margin: 0px;
}

#map-contextmenu>div:nth-child(n+3) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
}

#map-contextmenu .ol-select-container {
    align-self: stretch;
    flex: 0 0 auto;
    width: 100%;
}

#aircraft-spawn-menu .ol-select.is-open .ol-select-options {
    max-height: 300px;
}

#aircraft-spawn-menu>button,
#ground-unit-spawn-menu>button {
    text-align: center;
    width: 100%;
}

#aircraft-spawn-button {
    background-image: url("/resources/theme/images/buttons/spawn/aircraft.svg");
    background-size: 48px;
}

#ground-unit-spawn-button {
    background-image: url("/resources/theme/images/buttons/spawn/ground.svg");
    background-size: 48px;
}

#smoke-spawn-button {
    background-image: url("/resources/theme/images/buttons/spawn/smoke.svg");
    background-size: 48px;
}

.unit-spawn-button {
    border: none;
    border-radius: 0px;
    height: 48px;
    margin-bottom: -10px;
    margin-top: -10px;
    width: 48px;
}

.unit-spawn-button:last-of-type {
    border-bottom-right-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
}

[data-active-coalition="blue"].toggle-fill,
[data-active-coalition="blue"].unit-spawn-button:hover,
[data-active-coalition="blue"].unit-spawn-button.is-open,
[data-active-coalition="blue"]#active-coalition-label,
[data-active-coalition="blue"].deploy-unit-button,
[data-active-coalition="blue"]#spawn-airbase-aircraft-button {
    background-color: var(--primary-blue)
}

[data-active-coalition="red"].toggle-fill,
[data-active-coalition="red"].unit-spawn-button:hover,
[data-active-coalition="red"].unit-spawn-button.is-open,
[data-active-coalition="red"]#active-coalition-label,
[data-active-coalition="red"].deploy-unit-button,
[data-active-coalition="red"]#spawn-airbase-aircraft-button {
    background-color: var(--primary-red)
}

[data-active-coalition="neutral"].toggle-fill,
[data-active-coalition="neutral"].unit-spawn-button:hover,
[data-active-coalition="neutral"].unit-spawn-button.is-open,
[data-active-coalition="neutral"]#active-coalition-label,
[data-active-coalition="neutral"].deploy-unit-button,
[data-active-coalition="neutral"]#spawn-airbase-aircraft-button {
    background-color: var(--primary-neutral)
}

[data-active-coalition="blue"].deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-blue);
    cursor: default;
}

[data-active-coalition="red"].deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-red);
    cursor: default;
}

[data-active-coalition="neutral"].deploy-unit-button:disabled {
    background-color: transparent;
    border: 1px solid var(--primary-neutral);
    cursor: default;
}

[data-active-coalition="blue"].toggle-fill::after {
    transform: translateX(0);
}

[data-active-coalition="red"].toggle-fill::after {
    transform: translateX(var(--height));
}

[data-active-coalition="neutral"].toggle-fill::after {
    transform: translateX(calc(var(--height) / 2));
}

[data-active-coalition="blue"]#active-coalition-label::after {
    content: "Create blue unit";
}

[data-active-coalition="red"]#active-coalition-label::after {
    content: "Create red unit";
}

[data-active-coalition="neutral"]#active-coalition-label::after {
    content: "Create neutral unit";
}

#loadout-preview {
    align-content: space-between;
    align-items: center;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#loadout-list {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#unit-image {
    filter: invert(100%);
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
}

#smoke-spawn-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#smoke-spawn-menu>button {
    align-items: center;
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
}

#smoke-spawn-menu>button::before {
    border-radius: 999px;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
}

[data-smoke-color="red"]::before {
    background-color: red;
}

[data-smoke-color="white"]::before {
    background-color: white;
}

[data-smoke-color="blue"]::before {
    background-color: blue;
}

[data-smoke-color="green"]::before {
    background-color: green;
}

[data-smoke-color="orange"]::before {
    background-color: orange;
}

/* Unit context menu */
#unit-contextmenu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 15px;
    position: absolute;
    row-gap: 5px;
    width: fit-content;
    z-index: 1000;
}

#unit-contextmenu button {
    border: 1px solid var(--background-offwhite);
    border-radius: var(--border-radius-sm);
    font-weight: normal;
    padding: 12px;
}

#unit-contextmenu div {
    align-content: center;
    display: flex;
    flex-direction: row;
}

#unit-contextmenu div:before {
    display: inline-block;
    filter: invert(100%);
    height: 16px;
    margin-right: 15px;
    width: 16px;
}


/*  Airbase context menu  */
#airbase-contextmenu #airbase-runways {
    display:flex;
    flex-direction: column;
    row-gap:4px;
}

#airbase-contextmenu #airbase-runways > .runway {
    border:1px solid #ccc;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#airbase-contextmenu #airbase-runways > .runway abbr {
    cursor:help;
    text-decoration: none;
}

#airbase-contextmenu #airbase-runways > .runway > .heading {
    align-items: center;
    column-gap: 4px;
    display:flex;
    flex-direction: row;
}

#airbase-contextmenu #airbase-runways > .runway > .heading > abbr {
    font-weight: var( --font-weight-bolder );
    padding:4px;
}

#airbase-contextmenu #airbase-runways > .runway > .heading:last-of-type {
    flex-direction: row-reverse;
}

#center-map::before {
    content: url("/resources/theme/images/icons/arrows-to-eye-solid.svg");
}

#refuel::before {
    content: url("/resources/theme/images/icons/fuel.svg");
}

#attack::before {
    content: url("/resources/theme/images/icons/sword.svg");
}

#follow::before {
    content: url("/resources/theme/images/icons/follow.svg");
}

#trail::before {
    content: url("/resources/theme/images/icons/trail.svg");
}

#echelon-lh::before {
    content: url("/resources/theme/images/icons/echelon-lh.svg");
}

#echelon-rh::before {
    content: url("/resources/theme/images/icons/echelon-rh.svg");
}

#line-abreast-rh::before,
#line-abreast-lh::before {
    content: url("/resources/theme/images/icons/line-abreast.svg");
}

#front::before {
    content: url("/resources/theme/images/icons/front.svg");
}

#diamond::before {
    content: url("/resources/theme/images/icons/diamond.svg");
}

#custom::before {
    content: url("/resources/theme/images/icons/custom.svg");
}

#custom-formation-dialog {
    width: 250px;
}

#custom-formation-dialog>.ol-dialog-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
    row-gap: 10px;
}

#custom-formation-dialog>.ol-dialog-content>.ol-group {
    justify-content: space-between;
    width: 100%;
}

#reference-system {
    content: url("/images/reference-system.svg");
    display: inline-block;
    filter: invert(100%);
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
}

.formation-position-clock {
    height: 100px;
    margin: 15px;
    position: relative;
    width: 100px;
}

.formation-position-clock>.clock-hand {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
}

/* Airbase context menu */
#airbase-contextmenu {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    row-gap: 5px;
    width: 180px;
    z-index: 1000;
}

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    cursor: pointer;

    display: inline-block;
}

.toggle-input {
    display: none;
}

.toggle-fill {
    border-radius: var(--border-radius);
    height: var(--height);
    position: relative;
    transition: background-color 0.2s;
    width: var(--width);
}

.toggle-fill::after {
    background-color: #ffffff;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    content: "";
    height: calc(var(--height) - 4px);
    left: 2;
    position: absolute;
    top: 2;
    transition: transform 0.2s;
    width: calc(var(--height) - 4px);
}