
#primary-toolbar {
	align-items: center;
	display: flex;
	height: fit-content;
}

#command-mode-toolbar {
	align-items: center;
	display: flex;
}

#app-icon>.ol-select-options {
	width: fit-content;
}

#app-icon>.ol-select-value {
	box-shadow: none;
}

#toolbar-summary {
	background-image: url("/images/icon-round.png");
	background-position: 20px 22px;
	background-repeat: no-repeat;
	background-size: 45px 45px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	text-indent: 60px;
}

#toolbar-summary {
	white-space: nowrap;
}

.ol-panel-tab {
	align-items: center;
    display:flex;
	flex-direction: row;
	margin-right:6px;
}

.ol-panel-tab svg {
	height:24;
	width:24px;
}

.ol-panel-tab svg * {
	fill:white;
}

.ol-panel-tab span {
	font-size:13px;
	font-weight:400;
	padding:0 6px;
}

#view-label {
	margin-left: 5px;
}

#view-label svg {
	height: 20px;
	width: 20px;
}

#toolbar-container>*:nth-child(3)>svg {
    display: none;
}

#unit-visibility-control > div:nth-child(4),
#coalition-visibility-control {
	border-left: 2px solid white;
	padding-left: 12px;
}

@media (max-width: 1145px) {
	#toolbar-container {
		flex-direction: column;
		align-items: start;
	}

	#toolbar-container .ol-panel .ol-panel-tab {
		margin-right:0;
	}

	#toolbar-container .ol-panel:hover .ol-panel-tab {
		display:none;
	}

	#toolbar-container .ol-panel-tab span {
		display:none;
	}

	#toolbar-container>*:nth-child(1):not(:hover) {
		width: fit-content;
		height: fit-content;
	}

	#toolbar-container>*:nth-child(1):not(:hover)>*:not(:first-child) {
		display: none;
	}

    #toolbar-container>*:not(:first-child):not(:hover) {
		height: 52px;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
    }

	#toolbar-container>*:not(:first-child):not(:hover)>svg {
		display: block;
        filter: invert();
		height: 24px;
		width: 24px;
	}

	#toolbar-container>*:not(:first-child):not(:hover)>*:not(:first-child) {
		display: none;
	}
}
