<form class="ol-strip-board-add-flight">
    <div class="ol-auto-suggest"></div>
    <input type="text" name="unitName" placeholder="Flight search" />
    <button class="add-flight-by-click" title="Add unit via click"><img src="/resources/theme/images/icons/bullseye-solid.svg" /></button>
</form>