<div id="unit-data-table" class="ol-panel ol-dialog scrollable" oncontextmenu="return false;">

    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h4>Unit list</h4>
    </div>

    <div id="unit-list" class="ol-dialog-content">
        <!-- Here the list of units is shown -->
    </div>
    
</div>