<div id="custom-formation-dialog" class="ol-panel ol-dialog olympus-dialog-close hide" oncontextmenu="return false;">
    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h3 id="unit-name">Custom formation</h3>
    </div>

    <div class="ol-dialog-content">
        <div class="formation-position-clock">
            <div class="clock-hand" style="top: 0px;   left: 50px;"><input  type="radio" id="formation-1" name="formation-position" value="1"></div>
            <div class="clock-hand" style="top: 14px;  left: 14px;"><input  type="radio" id="formation-2" name="formation-position" value="2"></div>
            <div class="clock-hand" style="top: 50px;  left: 0px; "><input  type="radio" id="formation-3" name="formation-position" value="3"></div>
            <div class="clock-hand" style="top: 86px;  left: 14px;"><input  type="radio" id="formation-4" name="formation-position" value="4"></div>
            <div class="clock-hand" style="top: 100px; left: 50px;"><input  type="radio" id="formation-5" name="formation-position" value="5"></div>
            <div class="clock-hand" style="top: 86px;  left: 86px;"><input  type="radio" id="formation-6" name="formation-position" value="6" checked></div>
            <div class="clock-hand" style="top: 50px;  left: 100px"><input  type="radio" id="formation-7" name="formation-position" value="7"></div>
            <div class="clock-hand" style="top: 14px;  left: 86px;"><input  type="radio" id="formation-8" name="formation-position" value="8"></div>
            <div style="top: 50px; left: 50px;" id="reference-system"></div>
        </div>

        <div class="ol-group">
            <label>Distance: </label>
            
            <div class="ol-group">
                <div id="distance" class="ol-text-input">
                    <input type="number" min="0" max="999999" step="1" value="150" class="no-spin" />
                </div>
                <label>ft</label>
            </div>
        </div>

        <div class="ol-group">
            <label>Up-down: </label>
            
            <div class="ol-group">
                <div id="up-down" class="ol-text-input">
                    <input type="number" min="-99999" max="99999" step="1" value="30" class="no-spin"/>
                </div>
                <label>ft</label>
            </div>
        </div>
    </div>

    <div class="ol-dialog-footer ol-group">
        <button class="ol-button-apply" data-on-click="applyCustomFormation">Apply</button>
        <button class="ol-button-close" data-on-click="closeDialog">Close</button>
    </div>
</div>