<div id="<%= dialogId %>" class="ol-panel ol-dialog file-import-export hide" oncontextmenu="return false;">
    <div class="ol-dialog-header">
        <h3><%= title %></h3>
    </div>

    <div class="ol-dialog-content">
        <p><%= textContent %></p>
        <table class="categories-coalitions">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="ol-dialog-footer ol-group">
        <button class="start-transfer"><%= submitButtonText %></button>
        <button data-on-click="closeDialog">Close</button>
    </div>
</div>