<div id="unit-import-export-dialog" class="ol-panel ol-dialog hide" oncontextmenu="return false;">
    <div class="ol-dialog-header">
        <h3>Export unit data to file</h3>
    </div>

    <div class="ol-dialog-content">
        <p>This data will only include Olympus-controlled units.</p>
        <table>
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="ol-dialog-footer ol-group">
        <button>Export units to file</button>
        <button>Cancel</button>
    </div>
</div>