<div id="splash-screen" class="ol-dialog" oncontextmenu="return false;">
    <div id="splash-content" class="ol-dialog-content">
        <div id="app-summary">
            <h2>DCS Olympus</h2>
            <h4>Dynamic Unit Command</h4>
            <div class="app-version">Version <span class="app-version-number">v1.0.2</span></div>
            <div class="app-version">Latest version <span id="latest-version" class="app-version-number"></span></div>
        </div>

        <form id="authentication-form">
            <div><h5>Name</h5> <input type="text" id="username" name="username" required autocomplete="username" placeholder="Enter name..."></div>
            <div><h5>Server password</h5> <input type="password" id="password" name="password" required autocomplete="current-password" placeholder="Enter server password..."></div>
            <button type="submit" id="connection-button" class="ol-button-apply">Connect</button>
        </form>

        <h5 id="login-status"><br></h5>

        <div id="legal-stuff" class="ol-scrollable">
            <h5>DISCLAIMER</h5>
            <p> 
                Copyright (C) 2023 Veltro & Gang
            </p>
            <p>    
                DCS Olympus (the "MATERIAL" or "Software") is provided completely free 
                to users subject to the it under both the terms of version 3 of the GNU 
                General Public License as published by the Free Software Foundation, and 
                the additional terms set out below; except where such terms conflict with this 
                disclaimer, in which case, the terms of this disclaimer shall prevail. 
            </p>
            <p>    
                The authors and/or copyright holders of the Software have not received any 
                financial benefit in connection with the Software. In any event, the 
                Software is provided “as is”, without warranty of any kind, express or 
                implied, including but not limited to the warranties of merchantability, 
                fitness for a particular purpose and non-infringement. In no event shall 
                the authors and/or copyright holders be liable for any claim, damages or 
                other liability, whether in an action of contract, tort or otherwise, 
                arising from, out of or in connection with the Software or the use or o
                ther dealings in the Software. 
            </p>
            <p>
                Any party making use of the Software in any manner agrees to be 
                bound by the terms set out in this disclaimer, version 3 of the GNU 
                General Public Licence, and the Additional Terms below. 
            </p>    
            <p>
                THIS MATERIAL IS NOT MADE OR SUPPORTED BY EAGLE DYNAMICS SA.    
            </p>               
        </div>
    </div>
</div>