<div class="olympus-panel control-panel control-panel-top" id="aic-control-panel">
    <div class="olympus-button" id="toggle-aic-button"></div>
    <div class="olympus-button" id="aic-help-button"></div>
</div>

<div id="aic-help" class="olympus-dialog hide">
    <div class="olympus-dialog-close">&times;</div>
    <div class="olympus-dialog-header">AIC Help</div>
    <div class="olympus-dialog-content">
        <p>How to be a good AIC and get people to do stuff good, too.</p>
        <div style="align-items: center; background:black; color:white; display:flex; height:250px; justify-content: center; justify-self: center; width:450px;">
            <div>[DCS with Volvo video]</div>
        </div>
    </div>
</div>

<div id="aic-teleprompt"></div>