<div id="aic-callsign-panel" class="control-panel">

    <div class="aic-panel">
        <h2>My callsign</h2>
        <div>Magic</div>
    </div>

</div>


<div id="aic-toolbox" class="control-panel">
    
    <div id="aic-control-type" class="aic-panel">
        <h2>Control</h2>
        <div>
            <input type="radio" name="control-type" id="control-type-broadcast" value="broadcast" checked="checked" />
            <label for="control-type-broadcast">Broadcast</label>
        </div>
        <div>
            <input type="radio" name="control-type" id="control-type-tactical" value="tactical" />
            <label for="control-type-tactical">Tactical</label>
        </div>
    </div>
    
    <div id="aic-formation-panel" class="aic-panel">
        
        <h2>Formations</h2>
    
        <div id="aic-formation-list"></div>
    
    </div>

</div>
