<div id="atc-control-panel" data-feature-switch="atc">
    <div class="ol-button" id="atc-toggle-button"></div>
</div>


<div id="atc-flight-list" class="atc-tool hide" data-feature-switch="atc">
    <table>
        <thead>
            <tr>
                <th>Flight</th>
                <th>T/O</th>
                <th>TTG</th>
                <th>Status</th>
                <th> </th>
            </tr>
        </thead>
        <tbody id="atc-flight-list-table-body"></tbody>
    </table>
</div>


<div class="atc-strip-board" data-feature-switch="atc">

    <div class="atc-strip-board-header">
        <div class="name">Name</div>
        <div class="bearing-range">BR</div>
        <div class="target-altitude">t. Alt</div>
        <div class="current-altitude">Alt</div>
        <div class="target-speed">t. Spd</div>
        <div class="current-speed">Speed</div>
        <div class="runway">RWY</div>
        <div class="line">Line</div>
    </div>
    

    <div id="atc-strip-board-arrivals" class="atc-strip-board-strips ol-panel">
        <div class="atc-strip-board-strip">
            <div class="handle"></div>
            <div class="rectangular-container">
                <div class="name">Shark 3</div>
                <div class="bearing-range">250 / 28</div>
                <div class="target-altitude">-</div>
                <div class="current-altitude">10000</div>
                <div class="target-speed">-</div>
                <div class="current-speed">421</div>
                <div class="runway">-</div>
                <div class="line">-</div>
            </div>
        </div>
        <div class="atc-strip-board-strip">
            <div class="handle"></div>
            <div class="rectangular-container">
                <div class="name">Shark 2</div>
                <div class="bearing-range">250 / 24</div>
                <div class="target-altitude">6000</div>
                <div class="current-altitude">6000</div>
                <div class="target-speed">-</div>
                <div class="current-speed">400</div>
                <div class="runway">-</div>
                <div class="line">-</div>
            </div>
        </div>
        <div class="atc-strip-board-strip">
            <div class="handle"></div>
            <div class="rectangular-container">
                <div class="name">Shark 1</div>
                <div class="bearing-range link-warning">262 / 12</div>
                <div class="target-altitude">5000</div>
                <div class="current-altitude">5100</div>
                <div class="target-speed">-</div>
                <div class="current-speed">367</div>
                <div class="runway warning">-</div>
                <div class="line">-</div>
            </div>
        </div>
        <div class="atc-strip-board-strip">
            <div class="handle"></div>
            <div class="rectangular-container">
                <div class="name">Dolphin 1</div>
                <div class="bearing-range">250 / 4</div>
                <div class="target-altitude link-warning">3000</div>
                <div class="current-altitude warning">4100</div>
                <div class="target-speed">-</div>
                <div class="current-speed">511</div>
                <div class="runway">25L</div>
                <div class="line">2nd</div>
            </div>
        </div>
        <div class="atc-strip-board-strip">
            <div class="handle"></div>
            <div class="rectangular-container">
                <div class="name">Whale 1</div>
                <div class="bearing-range">070 / 2</div>
                <div class="target-altitude">1500</div>
                <div class="current-altitude">1650</div>
                <div class="target-speed link-warning">350</div>
                <div class="current-speed warning">312</div>
                <div class="runway">25L</div>
                <div class="line">1st</div>
            </div>
        </div>
    </div>


</div>

