<div id="map-contextmenu">
    <div id="active-coalition-label" data-active-coalition="blue"></div>
    <div id="upper-bar" class="ol-panel">
        <label id="context-menu-switch" class="toggle" for="context-menu-toggle">
            <input class="toggle-input" name="" type="checkbox" id="context-menu-toggle">
            <div data-active-coalition="blue" class="toggle-fill"></div>
        </label>
        <button data-active-coalition="blue" id="aircraft-spawn-button" title="Spawn aircraft" data-on-click="contextMenuShow"
            data-on-click-params='{ "type": "aircraft" }' class="unit-spawn-button"></button>
        <button data-active-coalition="blue" id="ground-unit-spawn-button" title="Spawn ground unit" data-on-click="contextMenuShow"
            data-on-click-params='{ "type": "ground-unit" }' class="unit-spawn-button"></button>
        <button data-active-coalition="blue" id="smoke-spawn-button" title="Spawn smoke" data-on-click="contextMenuShow"
            data-on-click-params='{ "type": "smoke" }' class="unit-spawn-button"></button>
    </div>
    <div id="aircraft-spawn-menu" class="ol-panel hide">
        <div class="ol-select-container">
            <div id="aircraft-role-options" class="ol-select">
                <div class="ol-select-value">Aircraft role</div>
                <div class="ol-select-options">
                    <!-- This is where all the aircraft roles buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="aircraft-type-options" class="ol-select">
                <div class="ol-select-value">Aircraft type</div>
                <div class="ol-select-options">
                    <div>Select role first</div>
                    <!-- This is where all the aircraft types buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="loadout-options" class="ol-select">
                <div class="ol-select-value">Loadout</div>
                <div class="ol-select-options">
                    <div>Select type first</div>
                    <!-- This is where all the aircraft loadouts buttons will be shown-->
                </div>
            </div>
        </div>
        <div id="loadout-preview">
            <img id="unit-image" class="hide">
            <div id="loadout-list">
            </div>
        </div>
        <button class="deploy-unit-button" title="" data-active-coalition="blue" data-on-click="contextMenuDeployAircraft" disabled>Deploy unit</button>
    </div>
    <div id="ground-unit-spawn-menu" class="ol-panel hide">
        <div class="ol-select-container">
            <div id="ground-unit-role-options" class="ol-select">
                <div class="ol-select-value">Ground unit role</div>
                <div class="ol-select-options">
                    <!-- This is where all the ground unit roles buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="ground-unit-type-options" class="ol-select">
                <div class="ol-select-value">Ground unit type</div>
                <div class="ol-select-options">
                    <div>Select role first</div>
                    <!-- This is where all the ground unit types buttons will be shown-->
                </div>
            </div>
        </div>
        <button class="deploy-unit-button" title="" data-active-coalition="blue" data-on-click="contextMenuDeployGroundUnit" disabled>Deploy unit</button>
    </div>
    <div id="smoke-spawn-menu" class="ol-panel hide">
        <button class="smoke-button" title="" data-smoke-color="white" data-on-click="contextMenuDeploySmoke" data-on-click-params='{ "type": "white" }'>White smoke</button>
        <button class="smoke-button" title="" data-smoke-color="blue" data-on-click="contextMenuDeploySmoke" data-on-click-params='{ "type": "blue" }'>Blue smoke</button>
        <button class="smoke-button" title="" data-smoke-color="red" data-on-click="contextMenuDeploySmoke" data-on-click-params='{ "type": "red" }'>Red smoke</button>
        <button class="smoke-button" title="" data-smoke-color="green" data-on-click="contextMenuDeploySmoke" data-on-click-params='{ "type": "green" }'>Green smoke</button>
        <button class="smoke-button" title="" data-smoke-color="orange" data-on-click="contextMenuDeploySmoke" data-on-click-params='{ "type": "orange" }'>Orange smoke</button>
    </div>
</div>

<div id="unit-contextmenu" class="ol-panel">
    <!-- Here the available unit options will be shown -->
</div>

<div id="airbase-contextmenu" class="ol-panel">
    <h3 id="airbase-name"></h3>
    <div id="airbase-properties"></div>
    <h4>Parking available:</4> 
    <div id="airbase-parking"></div>
    <button id="spawn-airbase-aircraft-button" data-active-coalition="blue" title="Spawn aircraft" data-on-click="contextMenuSpawnAirbase" class="deploy-unit-button">Spawn</button>
    <button id="land-here-button" title="Land here" data-on-click="contextMenuLandAirbase">Land here</button>
</div>