<div id="contextmenu" class="ol-contextmenu">
    <div class="ol-panel">
        <label id="context-menu-switch" class="toggle" for="context-menu-toggle">
            <input class="toggle-input" name="" type="checkbox" id="context-menu-toggle">
            <div data-coalition="blue" class="toggle-fill"></div>
        </label>
        
        <div id="unit-spawn" class="ol-group">
            <button data-coalition="blue" id="unit-spawn-aircraft" title="Spawn aircraft" data-on-click="contextMenuShow"
                data-on-click-params='{ "unitType": "aircraft" }'></button>
            <button data-coalition="blue" id="unit-spawn-ground" title="Spawn ground unit" data-on-click="contextMenuShow"
                data-on-click-params='{ "unitType": "ground" }'></button>
        </div>
    </div>
    <div id="aircraft-spawn-menu" class="ol-panel hide">
        <div class="ol-select-container">
            <div id="role-options" class="ol-select">
                <div class="ol-select-value">Aircraft role</div>
                <div class="ol-select-options">
                    <!-- This is where all the aircraft roles buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="aircraft-options" class="ol-select">
                <div class="ol-select-value">Aircraft type</div>
                <div class="ol-select-options">
                    <div>Select role first</div>
                    <!-- This is where all the aircraft types buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="loadout-options" class="ol-select">
                <div class="ol-select-value">Loadout</div>
                <div class="ol-select-options">
                    <div>Select type first</div>
                    <!-- This is where all the aircraft loadouts buttons will be shown-->
                </div>
            </div>
        </div>
        <button id="deploy-unit-button" title="" data-coalition="blue" data-on-click="contextMenuDeployUnit">Deploy units</button>
    </div>
</div>