<div id="contextmenu" class="ol-contextmenu">
    <div class="ol-panel">
        <div id="title"> Title </div>
        <div id="switch"> 
            <input type="checkbox">
        </div>
    </div>
    <ul id="list" class="ol-panel ol-scroll">
    </ul>
</div>