<div id="selection-scroll" class="ol-selection-scroll-container">
    <div id="ol-selection-scroll-top-bar">
        <div class="ol-selection-scroll-title"></div>
        <label id="coalition-switch-container">
            <input type="checkbox" id="coalition-switch"> <span
                class="ol-selection-scroll-slider ol-selection-scroll-switch"></span>
        </label>
    </div>
    <div class="ol-selection-scroll">
    </div>
</div>