<div id="contextmenu" class="ol-contextmenu">
    <div id="active-coalition-label" data-active-coalition="blue"></div>
    <div class="ol-panel">
        <label id="context-menu-switch" class="toggle" for="context-menu-toggle">
            <input class="toggle-input" name="" type="checkbox" id="context-menu-toggle">
            <div data-active-coalition="blue" class="toggle-fill"></div>
        </label>
        <button data-active-coalition="blue" id="unit-spawn-aircraft" title="Spawn aircraft" data-on-click="contextMenuShow"
            data-on-click-params='{ "type": "aircraft" }' class="unit-spawn-button"></button>
        <button data-active-coalition="blue" id="unit-spawn-ground" title="Spawn ground unit" data-on-click="contextMenuShow"
            data-on-click-params='{ "type": "ground" }' class="unit-spawn-button"></button>
        <button data-active-coalition="blue" id="unit-spawn-smoke" title="Spawn smoke" data-on-click="contextMenuShow"
            data-on-click-params='{ "type": "smoke" }' class="unit-spawn-button"></button>
    </div>
    <div id="aircraft-spawn-menu" class="ol-panel hide">
        <div class="ol-select-container">
            <div id="role-options" class="ol-select">
                <div class="ol-select-value">Aircraft role</div>
                <div class="ol-select-options">
                    <!-- This is where all the aircraft roles buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="aircraft-options" class="ol-select">
                <div class="ol-select-value">Aircraft type</div>
                <div class="ol-select-options">
                    <div>Select role first</div>
                    <!-- This is where all the aircraft types buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="loadout-options" class="ol-select">
                <div class="ol-select-value">Loadout</div>
                <div class="ol-select-options">
                    <div>Select type first</div>
                    <!-- This is where all the aircraft loadouts buttons will be shown-->
                </div>
            </div>
        </div>
        <button id="deploy-unit-button" title="" data-active-coalition="blue" data-on-click="contextMenuDeployUnit" disabled>Deploy units</button>
    </div>
</div>