<div id="contextmenu" class="ol-contextmenu">
    <div class="ol-panel">
        <div id="title"> Title </div>
        <div id="switch"> 
            <input type="checkbox">
        </div>
    </div>
    <ul id="list" class="ol-panel ol-scroll">
        <li><button>Option A</button></li>
        <li><button>Option B</button></li>
        <li><button>Option C</button></li>
        <li><button>Option D</button></li>
        <li><button>Option D</button></li>
        <li><button>Option D</button></li>
        <li><button>Option D</button></li>
        <li><button>Option D</button></li>
        <li><button>Option D</button></li>
    </ul>
</div>