<div id="splash-screen" class="ol-dialog" data-on-click="closeDialog">

    <div id="splash-content" class="ol-dialog-content">

        <div id="app-summary">
            <h2>DCS Olympus</h2>
            <h4>Dynamic Unit Command</h4>
            <div class="app-version">Version <span class="app-version-number">v0.1.0</span></div>
        </div>

        <div id="legal-stuff">
            <h4>Disclaimer</h4>
            <p>We ain't no friends with no Eagle Dynamics.</p>
        </div>

    </div>

</div>



<div id="advanced-settings-dialog" class="ol-panel ol-dialog hide">
    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h3 id="unit-name">Olympus 1-1</h3>
    </div>

    <div class="ol-dialog-content">
        <form>
            <!--
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Use ECM when available
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit jettison
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit afterburner
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit A/A
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit A/G
                </label>
            </div>
            -->

            <div id="tanker-checkbox" class="ol-checkbox">
                <label>
                    <input type="checkbox"/>
                    Tanker
                </label>
            </div>

            <div id="AWACS-checkbox" class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    AWACS
                </label>
            </div>
        
            <div id="TACAN-checkbox" class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Enable TACAN:
                </label>
            </div>
        
            <div class="ol-group">
                <div class="ol-select">
                    <div class="ol-select-value">40</div>
                    <div class="ol-select-options">
                        <div>
                            <button>40</button>
                        </div>
                        <div>
                            <button>41</button>
                        </div>
                        <div>
                            <button>42</button>
                        </div>
                        <div>
                            <button>43</button>
                        </div>
                        <div>
                            <button>44</button>
                        </div>
                        <div>
                            <button>45</button>
                        </div>
                    </div>
                </div>
                
                <div class="ol-select">
                    <div class="ol-select-value">X</div>
                    <div class="ol-select-options">
                        <div>
                            <button>X</button>
                        </div>
                        <div>
                            <button>Y</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <div id="radio-checkbox" class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Use radio frequency:
                </label>
            </div>
        
            <div class="ol-group">
                <div class="ol-select">
                    <div class="ol-select-value">120</div>
                    <div class="ol-select-options">
                        <div>
                            <button>120</button>
                        </div>
                        <div>
                            <button>121</button>
                        </div>
                        <div>
                            <button>122</button>
                        </div>
                        <div>
                            <button>123</button>
                        </div>
                        <div>
                            <button>124</button>
                        </div>
                        <div>
                            <button>125</button>
                        </div>
                    </div>
                </div>
                
                <div class="ol-select">
                    <div class="ol-select-value">.750</div>
                    <div class="ol-select-options">
                        <div>
                            <button>.000</button>
                        </div>
                        <div>
                            <button>.250</button>
                        </div>
                        <div>
                            <button>.500</button>
                        </div>
                        <div>
                            <button>.750</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="ol-dialog-footer">
        <button class="ol-button-apply" data-on-click="applyDialog">Apply</button>
        <button class="ol-button-close" data-on-click="closeDialog">Close</button>
    </div>

</div>