<div id="aircraft-settings-dialog" class="ol-panel ol-dialog hide" role="dialog">

    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h3>Olympus 1-1</h3>
    </div>

    <div class="ol-dialog-content">

        <form>

            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Use ECM when available
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit jettison
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit afterburner
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit A/A
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Prohibit A/G
                </label>
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Enable TACAN:
                </label>
            </div>
        
            <div class="ol-group">
        
                <div class="ol-select">
                    <div class="ol-select-value">40</div>
                    <div class="ol-select-options">
                        <div>
                            <button>40</button>
                        </div>
                        <div>
                            <button>41</button>
                        </div>
                        <div>
                            <button>42</button>
                        </div>
                        <div>
                            <button>43</button>
                        </div>
                        <div>
                            <button>44</button>
                        </div>
                        <div>
                            <button>45</button>
                        </div>
                    </div>
                </div>
                
                <div class="ol-select">
                    <div class="ol-select-value">X</div>
                    <div class="ol-select-options">
                        <div>
                            <button>X</button>
                        </div>
                        <div>
                            <button>Y</button>
                        </div>
                    </div>
                    
                </div>
        
            </div>
        
            <div class="ol-checkbox">
                <label>
                    <input type="checkbox" />
                    Use radio frequency:
                </label>
            </div>
        
            <div class="ol-group">
        
                <div class="ol-select">
                    <div class="ol-select-value">120</div>
                    <div class="ol-select-options">
                        <div>
                            <button>120</button>
                        </div>
                        <div>
                            <button>121</button>
                        </div>
                        <div>
                            <button>122</button>
                        </div>
                        <div>
                            <button>123</button>
                        </div>
                        <div>
                            <button>124</button>
                        </div>
                        <div>
                            <button>125</button>
                        </div>
                    </div>
                </div>
                
                <div class="ol-select">
                    <div class="ol-select-value">.750</div>
                    <div class="ol-select-options">
                        <div>
                            <button>.000</button>
                        </div>
                        <div>
                            <button>.250</button>
                        </div>
                        <div>
                            <button>.500</button>
                        </div>
                        <div>
                            <button>.750</button>
                        </div>
                    </div>
                    
                </div>
        
            </div>

        </form>

    </div>

    <div class="ol-dialog-footer">

        <button class="ol-button-close" data-on-click="closeDialog">Close</button>

    </div>

</div>