<div id="splash-screen" class="ol-dialog" data-on-click="closeDialog">

    <div id="splash-content" class="ol-dialog-content">

        <div id="app-summary">
            <h2>DCS Olympus</h2>
            <h4>Dynamic Unit Command</h4>
            <div class="app-version">Version <span class="app-version-number">v0.1.2</span></div>
        </div>

        <div id="legal-stuff">
            <h4>Disclaimer</h4>
            <p>We ain't no friends with no Eagle Dynamics.</p>
        </div>

    </div>

</div>
