<html>

<head>
  <title>Olympus client</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/leaflet.css">
</head>

<body>
  <div id="olympus-map-container">
    <%- include('unitInfo.ejs') %>  
  </div>
  <script src="javascripts/bundle.js"></script>
</body>

</html>
