<div id="mouse-info-panel" class="ol-panel">
    <div class="list-item"><div id="measure-position" class="hide">---째 / --- NM</div></div>
    <div class="list-item"><div id="unit-position" class="hide">---째 / --- NM</div></div>
    <div class="list-item"><div id="bullseye-2">---째 / --- NM</div></div>
    <div class="list-item"><div id="bullseye-1">---째 / --- NM</div></div>
</div>