<div class="ol-panel" id="mouse-info-panel">
    <div id="measure-position-container" class="ol-rectangular-container"><img src="images/pin.png"><div id="measure-position">---째 / --- NM</div></div>
    <div id="unit-position-container" class="ol-rectangular-container"><img src="images/unit.png"><div id="unit-position">---째 / --- NM</div></div>
    <div class="ol-rectangular-container"><img src="images/BEBlue.png"><div id="bullseye-2">---째 / --- NM</div></div>
    <div class="ol-rectangular-container"><img src="images/BERed.png"><div id="bullseye-1">---째 / --- NM</div></div>
</div>