<div id="mouse-info-panel" class="ol-panel">
    <dl class="data-grid">
        <dt id="ref-measure-position" data-tooltip="CTRL-click on the map to activate the measuring tool."></dt>
        <dd id="measure-position" class="br-info" data-bearing="---" data-distance="---" data-distance-units="nm"></dd>
        <dt id="ref-unit-position"></dt>
        <dd id="unit-position" class="br-info" data-bearing="---" data-distance="---" data-distance-units="nm"></dd>
        <dt id="ref-bullseye-1"></dt>
        <dd id="bullseye-1" class="br-info" data-bearing="---" data-distance="---" data-distance-units="nm"></dd>
        <dt id="ref-bullseye-2"></dt>
        <dd id="bullseye-2" class="br-info" data-bearing="---" data-distance="---" data-distance-units="nm"></dd>
    </dl>
</div>