<div id="mouse-info-panel" class="ol-panel">

    <div>
        <dl class="data-grid">
            <dt id="ref-measure-position" data-tooltip="CTRL-click on the map to activate the measuring tool."></dt>
            <dd id="measure-position" class="br-info" data-bearing="---" data-distance="---" data-distance-units="nm"></dd>
        </dl>
    </div>

    <div>
        <dl class="data-grid">
            <dt id="ref-bullseye-1" data-label="BE" data-coalition="blue"></dt>
            <dd id="bullseye-1" class="br-info" data-bearing="---" data-distance="---" data-distance-units="nm"></dd>
            <dt id="ref-bullseye-2" data-label="BE" data-coalition="red"></dt>
            <dd id="bullseye-2" class="br-info" data-bearing="---" data-distance="---" data-distance-units="nm"></dd>
        </dl>
    </div>
 
    <div>
        <dl class="data-grid">
            <dt id="ref-mouse-position-latitude" data-label="N"></dt>
            <dd id="mouse-position-latitude" class="coordinates" data-dd="---" data-mm="---" data-ss="--" data-sss="--"></dd>
            <dt id="ref-mouse-position-longitude" data-label="E"></dt>
            <dd id="mouse-position-longitude" class="coordinates" data-dd="---" data-mm="---" data-ss="--" data-sss="--"></dd>
        </dl>
    </div>

</div>