<nav id="primary-toolbar" class="ol-panel">

    <div id="app-icon" class="ol-select ol-select-image">
        <div class="ol-select-value icon">
            <img src="images/icon.png" class="main-logo" />
        </div>  
        <div class="ol-select-options">
            <div id="olympus-toolbar-summary">
                <h2>Olympus</h2>
                <p>v0.1.0</p>
            </div>
            <div>
                <hr />
            </div>
            <div>
                <button>Preferences</button>
            </div>
            <div>
                <button>Help and support</button>
            </div>
            <div>
                <hr />
            </div>
            <div>
                <button>Exit Olympus</button>
            </div>
        </div>
    </div>

    <div id="map-type" class="ol-select">
        <div class="ol-select-value">ArcGIS Satellite</div>
        <div class="ol-select-options">
            <div>
                <button>ArcGIS Satellite</button>
            </div>
            <div>
                <button>USGS Topographic</button>
            </div>
            <div>
                <button>OpenStreet Map</button>
            </div>
            <div>
                <button>OPENVKarte</button>
            </div>
            <div>
                <button>ESRI.Delorme</button>
            </div>
            <div>
                <button>CyclOSM</button>
            </div>
        </div>
    </div>

    <div class="ol-select">
        <div class="ol-select-value">Caucasus</div>
        <div class="ol-select-options">
            <div>
                <button>Caucasus</button>
            </div>
            <div>
                <button>Nevada</button>
            </div>
            <div>
                <button>Syria</button>
            </div>
        </div>
    </div>
    
    <div class="ol-group">
        <button>A</button>
        <button>B</button>
        <button>C</button>
    </div>

    <div class="ol-group ol-group-checkbox">

        <div class="ol-checkbox">
            <div class="ol-checkbox-input">
                <input id="checkbox-1" type="checkbox" />
            </div>
            <label for="checkbox-1">My label</label>
        </div>

        <div class="ol-checkbox">
            <div class="ol-checkbox-input">
                <input id="checkbox-2" type="checkbox" />
            </div>
            <label for="checkbox-2">My label</label>
        </div>

        <div class="ol-checkbox">
            <div class="ol-checkbox-input">
                <input id="checkbox-3" type="checkbox" />
            </div>
            <label for="checkbox-3">My label</label>
        </div>
    </div>
</nav>