<div class="olympus-selection-wheel" id="selection-wheel">
    <div class="olympus-wheel">
    </div>
    <label id="coalition-switch-container">
        <input type="checkbox" id="coalition-switch"> <span
            class="olympus-selection-wheel-slider olympus-selection-wheel-switch"></span>
    </label>
</div>