<div id="selection-scroll" class="olympus-selection-scroll-container">
    <label id="coalition-switch-container">
        <input type="checkbox" id="coalition-switch"> <span
            class="olympus-selection-scroll-slider olympus-selection-scroll-switch"></span>
    </label>
    <div class="olympus-selection-scroll">
    </div>
</div>