<div class="ol-selection-wheel" id="selection-wheel">
    <div class="ol-wheel">
    </div>
    <label id="coalition-switch-container">
        <input type="checkbox" id="coalition-switch"> <span
            class="ol-selection-wheel-slider ol-selection-wheel-switch"></span>
    </label>
</div>