<div id="settings-panel" class="ol-panel" >
    <nav>
        <div class="ol-select">
            <div id="options" class="ol-select-value icon"><img src="images/icon.png" class="main-logo"></img></div>
            <ul class="ol-select-options">
                <li>
                    <div class="version-control">
                        <img src="images/icon.png" class="main-logo">
                        <div>
                            <h2>DCS Olympus</h2>
                            <div>Version 0.1.0</div>
                        </div>
                    </div>
                </li>
                <li><button>Preferences</button></li>
                <li><button>Help and support</button></li>
                <li><button>GitHub link</button></li>
                <li class="hr"></li>
                <li><button>Restart connection</button></li>
                <li><button>Collapse to taskbar</button></li>
                <li><button>Exit Oympus</button></li>
            </ul>
        </div>
    </nav>
    
    <nav>
        <div class="ol-select">
            <div id="map-surce" class="ol-select-value">Map source</div>
            <ul class="ol-select-options">
            </ul>
        </div>
    </nav>

    <nav>
        <div class="ol-select">
            <div id="options" class="ol-select-value">Options</div>
            <ul class="ol-select-options">
                <li><input type="checkbox">Auto scale units</li>
                <li><input type="checkbox">Large text mode</li>
                <li class="hr"></li>
                <li><input type="checkbox">Hide name unitl hover</li>
                <li><input type="checkbox">View BLUE BULLSEYE</li>
                <li><input type="checkbox">View RED BULLSEYE</li>
            </ul>
        </div>
    </nav>

    <button>Aircraft</button>
    <button>Ground</button>
    <button>SAM</button>
    <button>Navy</button>

    <input type="checkbox" checked><div>View BLUEFOR</div>
    <input type="checkbox" checked><div>View REDFOR</div>
    <input type="checkbox" checked><div>View NEUTRAL</div>
</div>

<div id="connection-status-panel" class="ol-panel">
    <h4 id="status-string"> Connected </h4>
</div>