<div class="olympus-panel" id="unit-control-panel">
    <div class="olympus-button" id="slow"></div>
    <div class="olympus-button" id="fast"></div>
    <div class="olympus-button" id="descent"></div>
    <div class="olympus-button" id="climb"></div>
</div>