<div class="olympus-panel" id="unit-control-panel">
    <div class="olympus-button" id="slow-button"></div>
    <div class="olympus-button" id="fast-button"></div>
    <div class="olympus-button" id="descend-button"></div>
    <div class="olympus-button" id="climb-button"></div>
</div>