<div id="unit-info-panel" class="ol-panel" >
    <div class="ol-panel-board">
        <div id="general" class="panel-section">
            <h1 id="unit-name">Olympus 1-1</h1>
            <div id="name" class="pill highlight-primary">Name</div>
            <div id="group-name" class="pill highlight-primary">Group</div>
            <div id="task" class="pill highlight-primary">Task</div>
        </div>
        <div id="flight-data" class="panel-section">
            <dl class="data-grid">
                <dt>Heading</dt>
                <dd id="heading">123&deg;</dd>
                <dt>Speed</dt>
                <dd id="ground-speed">323kts</dd>
                <dt>Altitude</dt>
                <dd id="altitude">27,414ft</dd>
            </dl>
        </div>
        <div id="loadout-data" class="panel-section">
            <h4 id="loadout-label">Loadout<span id="loadout-fuel-level" data-fuel-level="69"></span></h4>
            <div id="loadout-container" class="ol-group">
            </div>
        </div>
    </div>
</div>