<div class="ol-panel" id="unit-control-panel">
    <h2>Selected units</h2>
    <div id="selected-units-container" class="ol-scroll">
        <!-- This is where all the unit selection buttons will be shown-->
    </div>

    <h3>Controls</h3>
    <div id="flight-controls-buttons-container">
        <div class="slider-container flight-control-slider" id="altitude-slider">
            <div class="flight-control-title">Altitude</div>
            <div class="flight-control-value" id="value"></div>
            <input type="range" min="1" max="100" value="50" class="slider">
        </div>
        <div class="slider-container flight-control-slider" id="airspeed-slider">
            <div class="flight-control-title">Speed</div>
            <div class="flight-control-value" id="value"></div>
            <input type="range" min="1" max="100" value="50" class="slider">
        </div>
    </div>

    <h3>Formation</h3>
    <div id="formation-buttons-container">
         <!-- This is where all the formation control buttons will be shown -->
    </div>

    <h3>Rules of engagement</h3>
    <div id="roe-buttons-container">
         <!-- This is where the roe buttons will be shown -->
    </div>

    <h3>Reaction to threat</h3>
    <div id="reaction-to-threat-buttons-container">
         <!-- This is where the reaction to threat buttons will be shown -->
    </div>
</div>
