<div id="unit-control-panel" class="ol-panel ol-panel-padding-lg"> 

    <div id="unit-selection">

        <div id="unit-identification">
            <div data-object="unit-air-aircraft">
                <div class="unit-marker"></div>
                <div class="unit-short-label">18</div>
            </div>
            
            <input id="unit-name" value="Olympus 1-1" readonly disabled />

            <!-- <button id="edit-unit-name" data-on-click="editUnitName"></button> -->
        </div>

        <div id="selected-units-container" class="ol-scroll">
            <!-- This is where all the unit selection buttons will be shown-->
            <!-- <button class="pill highlight-coalition" data-coalition="blue" data-short-label="18">Olympus 1-1</button> -->
        </div>

        <div id="flight-data">
            <h4>Flight controls</h4>
            <div class="slider-container flight-control-slider" id="airspeed-slider">
                <dl class="ol-data-grid">
                    <dt>Speed</dt>
                    <dd class="flight-control-value" id="value">451kts</dd>
                </dl>
                <input type="range" min="1" max="100" value="0" class="slider">
            </div>

            <div class="slider-container flight-control-slider" id="altitude-slider">
                <dl class="ol-data-grid">
                    <dt>Altitude</dt>
                    <dd class="flight-control-value" id="value">21,594ft</dd>
                </dl>
                <input type="range" min="1" max="100" value="0" class="slider">
            </div>
            
        </div>
    </div>

    <!-- <h3>Formation</h3> -->
    <!-- <div id="formation-buttons-container"> -->
         <!-- This is where all the formation control buttons will be shown -->
    <!-- </div> -->

    <div id="roe">
        <h4>Rules of engagement</h4>
        <div id="roe-buttons-container" class="ol-group ol-button-box">
             <!-- This is where the roe buttons will be shown -->
        </div>
    </div>

    <h4>Reaction to threat</h4>
    <div id="reaction-to-threat-buttons-container" class="ol-group ol-button-box">
         <!-- This is where the reaction to threat buttons will be shown -->
    </div>

    <hr />

    <button class="ol-button-settings" data-on-click="toggleElements" data-on-click-params='{"selector": "#aircraft-settings-dialog"}'>Adjust settings</button>

    <hr />

    <button class="ol-button-warning">Delete unit</button>

</div>
