<div class="ol-panel" id="unit-control-panel">
    <div class="ol-panel" id="unit-control-buttons">
        <div class="ol-button" id="slow-button"></div>
        <div class="ol-button" id="fast-button"></div>
        <div class="ol-button" id="descend-button"></div>
        <div class="ol-button" id="climb-button"></div>
    </div>

    <div id="title-label">Selected units</div>

    <div id="selected-units-container" class="ol-scrollable">
        <!-- This is where all the unit selection buttons will be shown-->
    </div>

    <div id="formation-creation-container">
        <div class="rectangular-button white" id="create-formation"><img src="images\buttons\create.svg">Create formation</div>
        <div class="rectangular-button white" id="undo-formation"><img src="images\buttons\erase.svg">Undo formation</div>
    </div>
    <div class="hl"></div>

    <div id="section-label">Controls</div>
    <div id="flight-controls-buttons-container">
        <div class="slider-container flight-control-slider" id="altitude-slider">
            <div class="flight-control-title">Altitude</div>
            <div class="flight-control-value" id="value"></div>
            <input type="range" min="1" max="100" value="50" class="slider">
        </div>
        <div class="slider-container flight-control-slider" id="airspeed-slider">
            <div class="flight-control-title">Speed</div>
            <div class="flight-control-value" id="value"></div>
            <input type="range" min="1" max="100" value="50" class="slider">
        </div>
    </div>

    <div id="section-label">Formation</div>
    <div id="formation-buttons-container">
        <div class="rectangular-button">Echelon</div>
        <div class="rectangular-button">Fingertip</div>
        <div class="rectangular-button">Trail</div>
        <div class="rectangular-button">Line abreast</div>
    </div>

    <div class="hl"></div>

    <div id="section-label">Rules of engagement</div>
    <div id="roe-buttons-container">
        <div class="rectangular-button" id="free">Free</div>
        <div class="rectangular-button" id="designated-free">Designated free</div>
        <div class="rectangular-button" id="designated">Designated</div>
        <div class="rectangular-button" id="return">Return</div>
        <div class="rectangular-button" id="hold">Hold</div>
    </div>

    <div class="hl"></div>

    <div id="section-label">Reaction to threat</div>
    <div id="reaction-to-threat-buttons-container">
        <div class="rectangular-button" id="none">None</div>
        <div class="rectangular-button" id="passive">Passive</div>
        <div class="rectangular-button" id="evade">Evade</div>
        <div class="rectangular-button" id="escape">Escape</div>
        <div class="rectangular-button" id="abort">Abort</div>
    </div>

</div>