<div class="olympus-panel" id="unit-control-buttons">
    <div class="olympus-button" id="slow-button"></div>
    <div class="olympus-button" id="fast-button"></div>
    <div class="olympus-button" id="descend-button"></div>
    <div class="olympus-button" id="climb-button"></div>
</div>

<div class="olympus-panel" id="unit-control-panel">
    <div id="title-label">Selected units</div>
    <div class="rounded-container">Olympus-1</div>
    <div class="rounded-container">Olympus-2</div>
</div>