<div class="olympus-panel padding-large" id="unit-info-panel">
    <div id="general">
        <div id="name">Olympus-6</div>
        <div class="rectangular-container">F-15C</div>
        <div class="rectangular-container">Olympus-1</div>
        <div class="rounded-container" id="task">Reaching destination</div>
    </div>
    <div class="vl h-margin-largest"></div>
    <div id="flight-data">
        <div id="flight-data-label">Flight data</div>
        <div id="latitude">N37°17'33.25"</div>
        <div id="longitude">W115°42'14.70"</div>
        <img class="flight-data-icon" src="images/icons/speed.svg">
        <div class="flight-data-label">Ground Speed</div>
        <div class="flight-data-value">308 kts</div>
        <img class="flight-data-icon" src="images/icons/altitude.svg">
        <div class="flight-data-label">Altitude</div>
        <div class="flight-data-value">1064 ft</div>
        <img class="flight-data-icon" src="images/icons/heading.svg">
        <div class="flight-data-label">Heading</div>
        <div class="flight-data-value">67</div>
        
    </div>
    <div class="vl h-margin-largest"></div>
    <div id="loadout-data">
        <div id="loadout-label">Loadout</div>
        <img class="flight-data-icon" src="images/icons/fuel.svg">
        <div class="flight-data-label">Fuel</div>
        <div class="flight-data-value">15%</div>
        <div class="rectangular-container-dark">2x AIM-120B</div>
        <div class="rectangular-container-dark">2x AIM-9P</div>
        <div class="rectangular-container-dark">100x 50mm HE</div>
        <div class="rectangular-container-dark">2x AGM-68</div>
    </div>
</div>