<div class="olympus-panel" id="olympus-unit-info">
    <table>
        <tr>
            <td colspan="4" class="olympus-panel-title">
                UNIT INFO
            </td>
        </tr>
        <tr>
            <td class="olympus-panel-label">
                Name:
            </td>
            <td class="olympus-panel-content" id="unit-name">
            </td>
            <td class="olympus-panel-label">
                Group:
            </td>
            <td class="olympus-panel-content" id="group-name">
            </td>
        </tr>
        <tr>
            <td class="olympus-panel-label">
                Heading:
            </td>
            <td class="olympus-panel-content" id="heading">
            </td>
            <td class="olympus-panel-label">
                Altitude:
            </td>
            <td class="olympus-panel-content" id="altitude">
            </td>
        </tr>
        <tr>
            <td class="olympus-panel-label">
                Ground speed:
            </td>
            <td class="olympus-panel-content" id="groundspeed">
            </td>
            <td class="olympus-panel-label">
                Fuel:
            </td>
            <td class="olympus-panel-content" id="fuel">
            </td>
        </tr>
        <tr>
            <td class="olympus-panel-label">
                Position:
            </td>
            <td class="olympus-panel-content" colspan="3" id="position">
            </td>
            <td>
            </td>
        </tr>
    </table>
    <table class="panel-table" id="tactical-info-table">
        <tr>
            <td colspan="4" class="olympus-panel-title">
                TACTICAL INFO
            </td>
        </tr>
        <tr>
            <td class="olympus-panel-label">
                Current task:
            </td>
            <td class="olympus-panel-content" colspan="3" id="task">
            </td>
        </tr>
        <tr>
            <td class="olympus-panel-label">
                Weapons:
            </td>
            <td class="olympus-panel-content" colspan="3" id="loadout">
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>