<div class="ol-panel ol-dialog scrollable hide">

    <div class="ol-dialog-close" data-on-click="closeDialog"></div>

    <div class="ol-dialog-header">
        <h4>Unit list</h4>
    </div>

    <div id="unit-data-table" class="ol-dialog-content">

    </div>
    
</div>