<div class="olympus-panel" id="unit-control-panel">
    <div class="olympus-panel" id="unit-control-buttons">
        <div class="olympus-button" id="slow-button"></div>
        <div class="olympus-button" id="fast-button"></div>
        <div class="olympus-button" id="descend-button"></div>
        <div class="olympus-button" id="climb-button"></div>
    </div>

    <div id="title-label">Selected units</div>

    <div id="selected-units-container">
        <!-- This is where all the unit selection buttons will be shown-->
    </div>

    <div id="formation-creation-container">
        <div class="rectangular-button white" id="create-formation"><img src="images\buttons\create.svg">Create formation</div>
        <div class="rectangular-button white" id="undo-formation"><img src="images\buttons\erase.svg">Undo formation</div>
    </div>
    <div class="hl"></div>

    <!--
    <div id="section-label">Formation</div>
    <div id="formation-buttons-container">
        <div class="rectangular-button">Echelon</div>
        <div class="rectangular-button">Fingertip</div>
        <div class="rectangular-button">Trail</div>
        <div class="rectangular-button">Line abreast</div>
    </div>

    <div class="hl"></div>

    <div id="section-label">Rules of engagement</div>
    <div id="roe-buttons-container">
        <div class="rectangular-button">Free</div>
        <div class="rectangular-button">Designated free</div>
        <div class="rectangular-button">Designated</div>
        <div class="rectangular-button">Return</div>
        <div class="rectangular-button">Hold</div>
    </div>

    <div class="hl"></div>

    <div id="section-label">Reaction to threat</div>
    <div id="threat-reaction-buttons-container">
        <div class="rectangular-button">None</div>
        <div class="rectangular-button">Passive</div>
        <div class="rectangular-button">Evade</div>
        <div class="rectangular-button">Escape</div>
        <div class="rectangular-button">Abort</div>
    </div>
-->
</div>