<div id="unit-control-panel" class="ol-panel ol-panel-padding-lg"> 

    <div id="unit-info-panel">

        <div id="unit-identification">
            <div data-object="unit-air-aircraft">
                <div class="unit-marker"></div>
                <div class="unit-short-label">18</div>
            </div>
            
            <input id="unit-name" value="Olympus 1-1" readonly disabled />

            <!-- <button id="edit-unit-name" data-on-click="editUnitName"></button> -->
        </div>

        <div class="ol-group">
            <div id="name" class="pill highlight-primary">Name</div>
            <div id="group-name" class="pill highlight-primary">Group</div>
            <div id="task" class="pill highlight-primary">Task</div>
        </div>

        <div id="selected-units-container" class="ol-scroll">
            <!-- This is where all the unit selection buttons will be shown-->
        </div>

        <div id="flight-data">

            <h4 id="loadout-label">Flight data</h4>
            
            <dl class="data-grid">
                <dt>Heading</dt>
                <dd id="heading">123&deg;</dd>
                <dt>Speed</dt>
                <dd id="ground-speed">323kts</dd>
                <dt>Altitude</dt>
                <dd id="altitude">27,414ft</dd>
            </dl>

            <h4>Flight controls</h4>
            <div class="slider-container flight-control-slider" id="airspeed-slider">
                <dl class="data-grid">
                    <dt>Speed</dt>
                    <dd class="flight-control-value" id="value">451kts</dd>
                </dl>
                <input type="range" min="1" max="600" value="451" class="slider">
            </div>

            <div class="slider-container flight-control-slider" id="altitude-slider">
                <dl class="data-grid">
                    <dt>Altitude</dt>
                    <dd class="flight-control-value" id="value">21,594ft</dd>
                </dl>
                <input type="range" min="1" max="50000" value="21594" class="slider">
            </div>
            
        </div>

        <div id="loadout-data" class="panel-section">
            <h4 id="loadout-label">Loadout<span id="loadout-fuel-level" data-fuel-level="69"></span></h4>
            <div id="loadout-container" class="ol-group">
                <div class="pill loadout-item" data-qty="2" data-item="AIM-120B"></div>
                <div class="pill loadout-item" data-qty="2" data-item="AIM-9P"></div>
                <div class="pill loadout-item" data-qty="100" data-item="AIM-120B"></div>
            </div>
        </div>
    </div>

    <!-- <h3>Formation</h3> -->
    <!-- <div id="formation-buttons-container"> -->
         <!-- This is where all the formation control buttons will be shown -->
    <!-- </div> -->

    <div id="roe">
        <h4>Rules of engagement</h4>
        <div id="roe-buttons-container" class="ol-group ol-button-box">
             <!-- This is where the roe buttons will be shown -->
        </div>
    </div>

    <h4>Reaction to threat</h4>
    <div id="reaction-to-threat-buttons-container" class="ol-group ol-button-box">
         <!-- This is where the reaction to threat buttons will be shown -->
    </div>

    <hr />

    <div class="ol-button-group">
        <button class="ol-button-warning">Delete unit</button>
    </div>

</div>
