<div class="olympus-panel padding-large" id="unit-info-panel">
    <div id="general">
        <div id="unit-name"></div>
        <div class="rectangular-container" id="name"></div>
        <div class="rectangular-container" id="group-name"></div>
        <div class="rounded-container" id="task"></div>
    </div>
    <div class="vl h-margin-largest"></div>
    <div id="flight-data">
        <div id="flight-data-label">Flight data</div>
        <div id="latitude"></div>
        <div id="longitude"></div>
        <img class="flight-data-icon" src="images/icons/speed.svg">
        <div class="flight-data-label">Ground Speed</div>
        <div class="flight-data-value" id="ground-speed"></div>
        <img class="flight-data-icon" src="images/icons/altitude.svg">
        <div class="flight-data-label">Altitude</div>
        <div class="flight-data-value" id="altitude"></div>
        <img class="flight-data-icon" src="images/icons/heading.svg">
        <div class="flight-data-label">Heading</div>
        <div class="flight-data-value" id="heading"></div>
    </div>
    <div class="vl h-margin-largest"></div>
    <div id="loadout-data">
        <div id="loadout-label">Loadout</div>
        <img class="flight-data-icon" src="images/icons/fuel.svg">
        <div class="flight-data-label">Fuel</div>
        <div class="flight-data-value" id="fuel"></div>
    </div>
</div>