<div class="ol-panel" id="visibility-control-panel">
    <div class="label">Air: </div>
    <div>
        <input type="checkbox" id="air-visibility" checked>
    </div>

    <div class="label">Ground: </div>
    <div>
        <input type="checkbox" id="ground-visibility"  checked>
    </div>

    <div class="label">Navy: </div>
    <div>
        <input type="checkbox" id="navy-visibility" checked>
    </div>

    <div class="label">Weapons: </div>
    <div>
        <input type="checkbox" id="weapon-visibility" checked>
    </div>

    <div class="ol-vl"></div>

    <div class="label">Full: </div>
    <div>
        <input type="radio" id="full-visibility" name="labels" value="full">
    </div>

    <div class="label">Partial: </div>
    <div>
        <input type="radio" id="partial-visibility" name="labels" value="partial" checked>
    </div>

    <div class="label">Minimal: </div>
    <div>
        <input type="radio" id="minimal-visibility" name="labels" value="minimal">
    </div>

    <div class="ol-vl"></div>
    <div class="label">Olympus only: </div>
    <div>
        <input type="checkbox" id="uncontrolled-visibility">
    </div>
</div>