<div class="olympus-panel" id="visibility-control-panel">
    <div class="olympus-button" ></div>
    <div class="olympus-button" ></div>
    <div class="olympus-button" ></div>
    <div class="olympus-button" ></div>
</div>