<div class="olympus-panel" id="visibility-control-panel">
    <div class="olympus-button" id="user-visibility-button"></div>
    <div class="olympus-button" id="ai-visibility-button"></div>
    <div class="olympus-button" id="uncontrolled-visibility-button"></div>
    <div class="olympus-button" id="weapon-visibility-button"></div>
    <div class="olympus-button" id="dead-visibility-button"></div>
</div>