<div id="connection-status-panel" class="ol-panel" oncontextmenu="return false;">
    <div id="connection-status-message">
        <abbr title="Elapsed time. Click to toggle." class="time-display mission-elapsed-time"></abbr>
        <abbr title="Mission time (local). Click to toggle." class="time-display mission-time"></abbr>
    </div>
    <div id="connection-status-light"></div>
</div>