<div id="unit-info-panel" class="ol-panel" oncontextmenu="return false;">

    <div id="general" class="panel-section">
        <h3 id="unit-name"></h3>
        <div class="ol-group">
            <div id="unit-label"></div>
            <div id="unit-control"></div>
        </div>
        <div id="current-task" class="pill highlight-coalition" data-coalition="blue" data-current-task=""></div>
    </div>

    <div id="loadout-container" class="panel-section">
                        
        <div id="loadout">
            <img id="loadout-silhouette"/>
            <div id="loadout-items">
            </div>
        </div>
        
        <div id="fuel-percentage" data-percentage=""></div>
        <div id="fuel-display">
            <div id="fuel-bar" class="highlight-coalition" data-coalition="blue" style="width:30%;"></div>
        </div>

    </div>

</div>