<div id="unit-list-panel" class="ol-panel hide">
    <h3>Unit List</h3>
    <div class="unit-list-unit headers">
        <div data-sort-field="unitName">Name</div>
        <div data-sort-field="name">Vehicle</div>
        <div data-sort-field="coalition">Coalition</div>
        <div>Human/AI</div>
    </div>
    <div id="unit-list-panel-content" class="ol-scrollable"></div>
</div>