#mouse-info-panel .mouse-tool {
	background-color: var(--background-grey);
	border-radius: var(--border-radius-sm);
	display:flex;
	flex-flow:column wrap;
	row-gap: 4px;
	padding: 6px;
}

#mouse-info-panel .mouse-tool .mouse-tool-item {
	align-items: center;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}


#mouse-info-panel svg {
	padding: 3px;
	height: 100%;
	width: 100%;
}

#mouse-info-panel svg > * {
	fill: black;
	stroke: black;
}

#mouse-info-panel .mouse-tool .mouse-tool-item > * {
	width:fit-content;
}

#mouse-info-panel .mouse-tool .mouse-tool-item > *:last-child {
	text-align: right;
	width:100%;
}

#mouse-info-panel .svg-icon, #mouse-info-panel .mouse-tool .mouse-tool-item :first-child {
	align-items: center;
	background-color: white;
	border-radius: var(--border-radius-sm);
	color: var(--background-steel);
	display: flex;
	font-size: 15.6px;
	font-weight: bolder;
	height: 22px;
	justify-content: center;
	text-transform: uppercase;
	width: 22px;
}

#mouse-info-panel .mouse-tool .mouse-tool-item [data-label]::after {
	border-radius: var(--border-radius-sm);
	content: attr(data-label);
}


#mouse-info-panel .mouse-tool .mouse-tool-item :last-child {
	color: var(--background-offwhite);
	font-weight: bold;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:fit-content;
}


/*  Bullseye info  */

#mouse-info-panel .mouse-tool .mouse-tool-item [data-label][data-coalition="blue"] {
	background-color: var(--primary-blue);
}

#mouse-info-panel .mouse-tool .mouse-tool-item [data-label][data-coalition="red"] {
	background-color: var(--primary-red);
}

.br-info::after {
    content: attr(data-bearing) '\00B0  / ' attr(data-distance) " " attr(data-distance-units);
}

.br-info[data-coalition="blue"]::after {
    color: var(--primary-blue)
}

.br-info[data-coalition="red"]::after {
    color: var(--primary-red)
}

.br-info[data-message]::after {
    content: attr(data-message);
}


/*  Coordinates  */
#coordinates-tool .elevation::after {
	content: attr(data-value)
}

#coordinates-tool[data-location-system] [data-location-system] {
	cursor:pointer;
	display:none;
}

#coordinates-tool[data-location-system="LatLng"] [data-location-system="LatLng"],
#coordinates-tool[data-location-system="MGRS"] [data-location-system="MGRS"],
#coordinates-tool[data-location-system="UTM"] [data-location-system="UTM"] {
	display:flex;
}