:root {
    --airbase-marker-height: 40px;
    --airbase-marker-width: 40px;
}

[data-object|="airbase"] {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
}

[data-hide-airbase] #map-container [data-object|="airbase"] {
    display: none;
}

/******************************
Marker
******************************/

[data-object|="airbase"] .airbase {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform-origin: center;
    z-index: 3;
}

/*  Airbase  */
[data-object|="airbase"] .airbase-marker {
    background-image: var(--airbase-marker-neutral-url);
    background-size: contain;
    height: var(--airbase-marker-height);
    width: var(--airbase-marker-width);
}

[data-object|="airbase"][data-coalition="red"] .airbase-marker {
    background-image: var(--airbase-marker-red-url);
}

[data-object|="airbase"][data-coalition="blue"] .airbase-marker {
    background-image: var(--airbase-marker-blue-url);
}