<div id="airbase-contextmenu" class="ol-panel" oncontextmenu="return false;">
    <h3 id="airbase-name"></h3>
    
    <dl id="airbase-chart-data" class="ol-data-grid">
        <dt>ICAO</dt>
        <dd data-point="ICAO"></dd>
        <dt>Coalition</dt>
        <dd data-point="coalition"></dd>
        <dt>Elevation</dt>
        <dd><span data-point="elevation"></span>ft</dd>
        <dt>TACAN</dt>
        <dd data-point="TACAN"></dd>
    </dl>

    <h4>Runways</h4>
    <div id="airbase-runways">
    </div>
    
    <hr/>
    <button id="spawn-airbase-aircraft-button" data-coalition="blue" title="Spawn aircraft" data-on-click="contextMenuSpawnAirbase" class="deploy-unit-button">Spawn</button>
    <button id="land-here-button" title="Land here" data-on-click="contextMenuLandAirbase" class="hide">Land here</button>
</div>