<div id="airbase-spawn-contextmenu" class="ol-context-menu" oncontextmenu="return false;">
    <div id="airbase-active-coalition-label" data-coalition="blue"></div>
    <div class="upper-bar ol-panel"> 
        <button data-coalition="blue" id="airbase-aircraft-spawn-button" title="Spawn aircraft" data-on-click="mapContextMenuShow"
            data-on-click-params='{ "type": "aircraft" }' class="ol-context-menu-button"><img src="/resources/theme/images/buttons/spawn/aircraft.svg" inject-svg></button>
        <button data-coalition="blue" id="airbase-helicopter-spawn-button" title="Spawn helicopter" data-on-click="mapContextMenuShow"
            data-on-click-params='{ "type": "helicopter" }' class="ol-context-menu-button"><img src="/resources/theme/images/buttons/spawn/helicopter.svg" inject-svg></button>
    </div>
    <div id="airbase-aircraft-spawn-menu" class="ol-context-menu-panel ol-panel hide">
        <!-- Here the aircraft spawn menu will be shown -->
    </div>
    <div id="airbase-helicopter-spawn-menu" class="ol-context-menu-panel ol-panel hide">
        <!-- Here the helicopter spawn menu will be shown -->
    </div>
</div>