<div id="coalition-area-contextmenu" class="ol-context-menu" oncontextmenu="return false;">
    <div id="area-coalition-label" data-coalition="blue"></div>
    <div class="upper-bar ol-panel">
        <div class="switch-control coalition no-label"><div id="coalition-area-switch" class="ol-switch"></div></div>
        <button data-coalition="blue" id="iads-button" title="Create Integrated Air Defense System" data-on-click="coalitionAreaContextMenuShow"
            data-on-click-params='{ "type": "iads" }' class="ol-context-menu-button"><img src="/resources/theme/images/buttons/spawn/sam.svg" inject-svg></button>
        <!--<button data-coalition="blue" id="cap-button" title="Create Combat Air Patrols" data-on-click="coalitionAreaContextMenuShow"
            data-on-click-params='{ "type": "cap" }' class="ol-context-menu-button"></button>-->
        <button data-coalition="blue" id="coalitionarea-back-button" title="Send to back" data-on-click="coalitionAreaBringToBack"
             class="ol-context-menu-button"><img src="/resources/theme/images/buttons/other/back.svg" inject-svg></button>
        <button data-coalition="blue" id="coalitionarea-delete-button" title="Delete area" data-on-click="coalitionAreaDelete"
             class="ol-context-menu-button"><img src="/resources/theme/images/buttons/other/delete.svg" inject-svg></button>
    </div>
    <div id="iads-menu" class="ol-panel ol-context-menu-panel hide">
        <div id="iads-units-type-options" class="ol-select">
            <div class="ol-select-value">Unit types</div>
            <div class="ol-select-options">
                    <!-- This is where all the iads unit types checkboxes will be shown-->
            </div>
        </div>
        <div class="ol-select-container">
            <div id="iads-era-options" class="ol-select">
                <div class="ol-select-value">Units eras</div>
                <div class="ol-select-options">
                    <!-- This is where all the iads unit era buttons will be shown-->
                </div>
            </div>
        </div>
        <div class="ol-select-container">
            <div id="iads-range-options" class="ol-select">
                <div class="ol-select-value">Units ranges</div>
                <div class="ol-select-options">
                    <!-- This is where all the iads unit range buttons will be shown-->
                </div>
            </div>
        </div>
    
        <!--
        <div id="coalition-units-checkbox" class="ol-checkbox">
            <label title="Use coalition specific units only (e.g. Patriot sites for blue coalition, SA-2s for red coalition)">
                <input type="checkbox"/>
                Coalition specific units
            </label>
        </div>
        -->
        
        <div id="iads-density-slider" class="ol-slider-container">
            <dl class="ol-data-grid">
                <dt> IADS density </dt> <dd> <div class="ol-slider-value"></div> </dd>
            </dl>
            <input title="An high density value will cause more units to be deployed" type="range" min="0" max="100" value="0" class="ol-slider">
        </div>
        <div id="iads-distribution-slider" class="ol-slider-container">
            <dl class="ol-data-grid">
                <dt> IADS distribution </dt> <dd> <div class="ol-slider-value"></div> </dd>
            </dl>
            <input title="If distrubution is low units will be concentrated around towns, otherwise they will spread around the map more evenly" type="range" min="0" max="100" value="0" class="ol-slider">
        </div>
        <button class="create-iads-button" title="" data-coalition="blue" data-on-click="contextMenuCreateIads">Add units to IADS</button>
    </div>
</div>