name: Build & package

on:
  push:
    branches: [ "main", "release-candidate" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Setup vcpkg
      run: |
        bootstrap-vcpkg
        vcpkg integrate install

    - name: Setup Node.js
      uses: actions/setup-node@v2
        
    - name: Build
      working-directory: .
      run: "./build_package.bat"
      shell: cmd

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.3
      with:
        name: latest
        path: installer/Output/*.exe
      
