body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    background-color: #2d3e50;
    font-family: "Lucida Console", "Courier New", monospace;
}

#content-table { 
    height: 100%; 
    width: 100%;
}

#header { 
    height: 40px;
}

#log {
    background-color: #202831AA;
    height: 100px;
    width: 400px;
    border: solid white 1px;
    font-size: 12px;
    overflow-y: scroll;
    position: fixed;
    z-index: 1000;
    top: 50px;
    right: 10px;
}

.log-message {
    margin: 2px;
    color: white;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.error-message{
    margin: 2px;
    color: rgb(255, 154, 154);
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    background-color: #2d3e50; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1000; /* Add a z-index if needed */
    top: 120px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 120px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 120px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 120px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 120px; opacity: 1;}
    to {top: 0; opacity: 0;}
} 