
.unit-info-panel {
    background-color: #202831;
    height: 100px;
    width: 800px;
    border: solid white 1px;
    font-size: 12px;
    position: fixed;
    z-index: 1000;
    left: 10px;
    bottom: -80px;
    transition: bottom 0.2s;
}

.unit-control-panel {
    background-color: #202831;
    height: 40px;
    width: 400px;
    border: solid white 1px;
    font-size: 12px;
    position: fixed;
    z-index: 1000;
    left: 10px;
    top: 50px;
    transition: height 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.control-panel {
    background-color: #202831;
    height: 40px;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.panel-table {
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    height: 100%;
}

.panel-title {
    font-size: 14px;
    color: #d3e9ff;
}

.panel-label {
    font-size: 12px;
    color: #d3e9ff;
    margin: 5px;
    width: 100px;
}

.panel-content {
    font-size: 12px;
    color: white;
    margin: 5px;
}

.panel-button {
    height: 30px;
    width: 30px;
    margin: 5px;
    color: #d3e9ff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: font-size 0.05s;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.panel-button:hover {
    cursor: pointer;
}

.panel-button:active {
    color: white;
}

.panel-button-disabled {
    opacity: 0.5;
}

.panel-button-disabled:hover {
    cursor: default;
}

.panel-button-disabled:active {
    color: #e1f0ff;
}

.panel-select {
    -webkit-padding-start: 2px;
    margin: 10px;
    height: 25px;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    vertical-align: middle;
}

.panel-select option {
    margin: 40px;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 25px;
    margin: 5px;
    vertical-align: middle;
}

#unit-info-table
{
    width: 400px;
}

#tactical-info-table
{
    width: 400px;
}