:root {
    --blue: #2196F3aa;
    --red: #f32121aa;
    --dark: #202831AA;
    --normal: #2196F3aa;
    --highlight: #FFFFFFAA;
    --start_angle: 0deg;
    --gradient_start: 0deg;
    --gradient_stop: 0deg;
    --animation_duration: 0.1s;
    --color_transition: 0.4s;
  }

#selection-wheel {
    width: 100%;
    border-radius: 50%;
    background: var(--normal);
    -webkit-mask: radial-gradient(transparent 30%,#000 31%);
            mask: radial-gradient(transparent 30%,#000 31%);
}
#selection-wheel:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#selection-wheel-container {
    margin: 0 auto;
    position: fixed;
    z-index: 1000;
    width: 0px;
    height: 0px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection-wheel-button {
    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.selection-wheel-image {
    width: 45px;
    height: 45px;
    /*filter: invert(100%);*/
    filter: drop-shadow(1px 1px 0px var(--highlight)) drop-shadow(1px -1px 0px var(--highlight)) drop-shadow(-1px 1px 0px var(--highlight)) drop-shadow(-1px -1px 0px var(--highlight));
}

.selection-wheel-button:hover {
    filter: drop-shadow(1px 1px 2px var(--highlight)) drop-shadow(1px -1px 2px var(--highlight)) drop-shadow(-1px 1px 2px var(--highlight)) drop-shadow(-1px -1px 2px var(--highlight));
}

.selection-wheel-button:hover .selection-wheel-image {
    width: 50px;
    height: 50px;
}

.switch {
    opacity: 0;
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: -17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue-coalition-color);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: var(--blue-coalition-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--blue-coalition-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 