.unitmarker-container-table {
    height: 60px; 
    width: 60px; 
    left: -30px; 
    top: -30px; 
    border: 1px transparent solid; 
    position: absolute;
}

.unitmarker-icon-img {
    height: 60px; 
    width: 60px; 
    left: 0px; 
    top: 0px; 
    display: block; 
    opacity: 0.8;
    position: absolute;
}

.unitmarker-selection-img {
    height: 60px; 
    width: 60px; 
    left: 0px; 
    top: 0px; 
    display: block; 
    position: absolute;
    animation: spin 4s linear infinite;
    opacity: 0;
    filter: drop-shadow(0px 0px 1px #00FF00AA);
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

.unitmarker-icon-img-blue {
    filter: invert(37%) sepia(21%) saturate(7402%) hue-rotate(193deg) brightness(103%) contrast(104%) drop-shadow(1px 1px 0 #000000AA) drop-shadow(1px -1px 0 #000000AA) drop-shadow(-1px 1px 0 #000000AA) drop-shadow(-1px -1px 0 #000000AA);
}

.unitmarker-icon-img-red {
    filter: invert(21%) sepia(96%) saturate(4897%) hue-rotate(353deg) brightness(108%) contrast(90%) drop-shadow(1px 1px 0 #000000AA) drop-shadow(1px -1px 0 #000000AA) drop-shadow(-1px 1px 0 #000000AA) drop-shadow(-1px -1px 0 #000000AA);
}

.unitmarker-icon-img-hovered {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%) drop-shadow(1px 1px 3px black) drop-shadow(-1px -1px 3px black);
}

.unitmarker-icon-img-selected {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%) drop-shadow(1px 1px 3px black) drop-shadow(-1px -1px 3px black);
}

.unitmarker-container-table-dead {
    filter: brightness(50%);   
}

.unitmarker-name-div {
    width: 100%; 
    left: 0px; 
    top: -20px; 
    position: absolute; 
    text-align: center; 
    font: 800 16px Arial; 
    white-space: nowrap;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke: 1px;
}

.unitmarker-container-table-dead .unitmarker-name-div{
    opacity: 0;
}